[2016-08-15 08:50] mbravorus opened #1 "NullPointerException when trying to access"
On a freshly installed node with ES 2.3.5 and plugin build 2.3.5 (other plugins installed - cloud-aws, kopf, head), when trying to access the endpoint I get

[code]

with the following stack trace:

[code]

[2016-08-15 17:28] vvanholl commented on #1
Hi,

This is probably due when collecting file system metrics. For more investigations, can you send me an extract from http://localhost:9200/_nodes/stats ?

Thank you

[2016-08-15 18:01] vvanholl commented on #1
I think the problem is that ElasticsSearch can not determine you are using spinning disks or not. So it returns a null object.

By looking in  ElasticSearch sources, https://github.com/elastic/elasticsearch/blob/master/core/src/main/java/org/elasticsearch/monitor/fs/FsInfo.java, line 44, you can find :

[code]

[2016-08-16 08:30] mbravorus commented on #1
@vvanholl here's a slightly censored gist with _node/stats output from the same node where I logged the exception: https://gist.github.com/mbravorus/e08853dbd7e547b7abe98825b6909897

hope it helps

[2016-08-16 17:49] vvanholl commented on #1
@mbravorus, it should be fixed in the latest release :
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/2.3.5.1

Waiting for your feedback

[2016-08-23 07:56] knweiss opened #2 "Can not increment metric indices_segments_number with value [negative], skipping"
Hi,

today I've noticed log entries like this in my elasticsearch log:

[code]

I took a look at the Prometheus metrics and found metric `es_indices_segments_number` (prefix "**es_**") of type Counter - which is only allowed to **increment**:

[code]

Should the metric type be changed from Counter to Gauge?

[2016-08-23 09:32] vvanholl commented on #2
Hi @knweiss, I have also noticed it today.

I am working on it.

[2016-08-23 09:48] vvanholl commented on #1
@mbravorus : Is it OK for you now ? before I close the issue

[2016-08-23 10:23] vvanholl commented on #2
This should be solved in release 2.3.5.3
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/2.3.5.3

[2016-08-23 12:03] knweiss commented on #2
I've just deployed the new version and will keep an eye on it. Thanks a lot!

[2016-08-23 19:31] mbravorus commented on #1
I'll be able to test when I get back from vacation, after Sep 5th :) feel free to close it if it bothers you, if it's not fixed, I'll reopen. Thanks for your help!

[2016-08-24 10:35] knweiss commented on #2
The original metric seems to work now.

However, I get the same error message with two other metrics now:
[code]

[2016-08-24 13:01] petedreizehn opened #3 "Production release"
Hello,
when do you think to release a version which is ready for production?

Edit:
We tried to install your plugin on my elastic cluster enviroment

when I changed the following option
`[2016-08-24 11:49:18,731][INFO ][cluster.routing.allocation.decider] [$HOSTNAME] updating [cluster.routing.allocation.enable] from [NONE] to [ALL]`

the node stopped responding and I was also not able to stop elas

[2016-08-24 20:47] vvanholl commented on #2
I have released version 2.3.5.4

[2016-08-24 20:49] vvanholl commented on #3
I have released version 2.3.5.4.
It should solve the "Can not increment metric" issues.
Please say me if ES hangs again.

[2016-08-25 07:51] knweiss commented on #2
Thanks. I'll test it.

[2016-08-25 08:42] knweiss commented on #2
Two early comments:

1. The release zip for version 2.3.5.4 is missing in the GitHub release tab listing (although it exists).
2. Three of the renamed metrics (`es_indices_doc_count`, `es_indices_doc_deleted_count`, and  `es_indices_querycache_miss_count`) are referenced in the current release `elasticsearch_rev2.json` [Elasticsearch Grafana dashboard](https://grafana.net/dashboards/266).

[2016-08-25 09:38] petedreizehn commented on #3
Okay, we tried it today in Docker containers on a test environment and now the ES is not hanging anymore.
Thank you for that. :)

But now we want to figure out, what the query "es_cluster_status" is used for, because it seems that its not working as expected. We tried to stop ES cluster and start again but the "es_cluster_status" always shows 0 as value.
Is there something we need to change?

Best

[2016-08-25 18:58] vvanholl commented on #2
Hi,

1. Sorry for my error :(, It's fixed :)
2. The Grafana dashboard has been updated : https://grafana.net/dashboards/266/revisions

[2016-08-25 19:02] vvanholl commented on #3
es_cluster_status depends of the "color" of your cluster

0 => Green, cluster OK all primary and replicas shards present
1 => Yellow, Some replicas shards are missing, but all data is available
2 => Red, Some data is missing :(

When you restarted your cluster, did you check at the same time the url ?
```http://<address_of_cluster>:9200/_cluster/health ```

[2016-08-26 07:41] knweiss commented on #2
Thank you!

Unfortunately, I found another metric with the wrong type: `indices_merges_total_auto_throttle_bytes`:

[code]

[2016-08-29 08:29] vvanholl commented on #2
Hi,

I have just released version 2.3.5.5

[2016-08-30 07:27] knweiss commented on #2
Okay, this version looks good so far: No new metric errors since yesterday. Thanks!

[2016-09-01 09:14] knweiss opened #4 "Elasticsearch 2.4.0 compatible package"
Could you please provide a package compatible with Elasticsearch **2.4.0**?

I just started a rolling-upgrade from ES 2.3.5 to 2.4.0 on my test cluster and the first node fails during startup with the following error message:
[code]

So, I had to disable the prometheus-exporter temporarily.

[2016-09-01 10:05] knweiss commented on #2
Unfortunately, I found some more:

[code]

FWIW: Another option would be to use [UNTYPED Prometheus metrics](https://prometheus.io/docs/instrumenting/writing_exporters/#types):

[2016-09-01 13:13] #3 closed

[2016-09-01 13:19] vvanholl commented on #2
Hi, Thank you for your advice :)

It's sometimes hard to guess from ElasticSearch if an internal metric is a counter or not, and you can't rely on it's name. In fact, for each metric, I should closely read the ES documentation to know what a metric is supposed to represent.

Maybe UNTYPED could solve this problem, but it could break Prometheus best practices. I have to think about it before.

[2016-09-01 13:22] knweiss commented on #2
Check out e.g. the Prometheus `node_exporter`. It uses lots of untyped metrics for this reason.

[2016-09-01 13:48] vvanholl commented on #4
Version 2.4.0.0 has just been released.

[2016-09-01 15:17] knweiss commented on #4
I've just updated and it seems to work fine (just a couple of minutes though).

[2016-09-04 12:10] jinhang opened #5 "How to user your code?"
could you give me an example? and how to visualized the result ?

[2016-09-11 07:26] vvanholl commented on #5
Hi @jinhang,

You'll find all the documentation you need on README.md file

[2016-09-16 12:47] knweiss commented on #4
I think you can close this issue. Thanks!

[2016-09-21 11:31] Deepak-initcron commented on #1
Hi,
I am facing the same issue in for ES 2.3.4 (exporter  2.3.4.2)
[code]
and i think i cannot use 2.3.5.1 as it is for ES 2.3.5 and i have 2.3.4

[2016-09-21 13:16] ricard0ff commented on #2
hey so after seeing this thread and using version  3.5.5 I'm also getting:

`[ERROR][RestPrometheusMetricsAction] Can not increment metric indices_querycache_hit_count with value -11.000000, skipping`

using elasticsearch-prometheus-exporter-2.3.5.5.zip

[2016-09-23 05:32] #4 closed

[2016-09-29 21:32] vvanholl commented on #2
@knweiss : unfortunately the Java client for Prometheus (https://github.com/prometheus/client_java) seems to not manage UNTYPED.

I'm thinking about migrating all counters to gauge, but before I have to see if Prometheus supports changing a metric from counter to gauge.

[2016-10-10 14:36] iMelnik opened #6 "Could not find plugin class. version 2.4.1"
Installed plugin within this Dockerfile
https://github.com/commercetools/docker-elasticsearch-kubernetes/blob/a7f5b4e9b1596dd650ae55c5ae4601df5626c907/Dockerfile
Build log: https://hub.docker.com/r/imelnik/docker-elasticsearch-kubernetes/builds/brzpwudjamraxdechd5xnak/

Other plugins seem bo work fine this way.
ES Version: 2.4.1
Plugin Version 2.4.1.0

[code]

Any ideas on how do I fix that?

[2016-10-14 14:52] Bounz opened #7 "Could not install plugin v.2.4.1.0"
Hi therecd.
I have tried to install plugin using locally downloaded zip package and got following error:
[code]
Is there any way to fix it?

[2016-10-16 03:18] jinleileiking opened #8 "2.4.1 no responds."
es : 241, plugin: 241

http://10.64.7.106:9200/_prometheus/metrics

get
[code]

[2016-10-17 16:03] Bounz commented on #7
I have used wrong parameters in ```plugin install``` command. It should be:
[code]

[2016-10-17 16:03] #7 closed

[2016-10-27 05:25] vvanholl commented on #8
Hi,

Can you give me your es configuration and the other plugins installed ?

Thanks.

[2016-10-27 07:05] jinleileiking commented on #8
strange. it worked. I  will reopen when it reoccurs.

[2016-10-27 07:05] #8 closed

[2016-10-27 07:05] jinleileiking opened #10 "[question|feature] can exporter 241 use at 210?"

[2016-10-27 18:51] vvanholl commented on #10
I haven't tried, but if you modify pom.xml to use the 2.10 version of ElasticSearch then recompile, repackage with Maven, it should work.

The main condition is to hope ElasticSearch librairies have not too diverged.

[2016-10-27 18:54] vvanholl commented on #6
Hi,

I have tried and I have also the same issue.
In fact command "RUN /elasticsearch/bin/plugin install vvanholl/elasticsearch-prometheus-exporter/2.4.1.0 --verbose"  does not install the plugin itself but the sources :

[code]

That's really weird, I am currently investigating on it.

[2016-10-27 19:16] vvanholl commented on #6
I have a partial answer :

When you launch
`/elasticsearch/bin/plugin install vvanholl/elasticsearch-prometheus-exporter/2.4.1.0 --verbose`
The plugin manager lookups on several sources in this order : elastic repo, maven repo, github repo

In my case, when comes github repo, the url tested are not from github releases, but from source code. This is good when it's a site plugin, But messy for java

[2016-10-28 02:38] #10 closed

[2016-11-07 15:36] mats990 commented on #1
Hi,

@Deepak-initcron
I made fork with fix for this issue. You can find it here: https://github.com/mats990/elasticsearch-prometheus-exporter/releases/tag/2.3.4.3

@vvanholl
Can we make "2.3.4.3" branch here in your repository and merge this fix?

[2016-11-10 07:48] mcortinas opened #11 "What about 5.0 version?"
Hello,

 ES 5.0 was delivered last monday... Do you know when it will be compatible with 5.0??

Marc

[2016-11-11 14:27] bobymicroby commented on #11
@mcortinas Check out #12  .

You can test if it is working by

1. Build and create the plugin zip
``` mvn assembly:assembly ```

2. Upload to ES
``` scp  target/releases/elasticsearch-prometheus-exporter-1.0-SNAPSHOT.zip root@your.server:/root  ```

3. Install
``` /usr/share/elasticsearch/bin/elasticsearch-plugin install -b file:///root/elasticsearch-prometheus-exporter-1.0-SNAPSHOT.zip ```

Pleas

[2016-11-14 20:54] vvanholl commented on #11
Hi all,

Version 5.0.0.0 has been released today with #12

Vincent

[2016-11-14 20:54] #11 closed

[2016-11-14 21:01] #6 closed

[2016-11-15 06:29] mcortinas commented on #11
thank you so much!

[2016-11-16 15:18] iMelnik commented on #6
Thanks, I would try later on 👍

[2016-11-28 16:07] JorritSalverda opened #13 "Cluster label includes 'Cluster [...]' instead of just the cluster name"
When upgrading from 2.4.1 to 5.0.1 the cluster label added some static wording that's really redundant:

[code]

I would expect just `cluster="elasticsearch"` instead.

[2016-11-29 11:38] kayrus opened #14 "Expose whole cluster logs"
I'd like to monitor data and master nodes JVM logs, but nor data neither master have enabled 9200 HTTP port. Only client pods have it. And metrics of the client show only client related metrics. Is it possible to server whole cluster metrics without enabling HTTP port on data and master nodes? Kopf plugin already provide this info.

Does it sound reasonable to implement this feature?

[2016-12-15 20:17] someone1 opened #15 "ES 5.1.1 support"
Just got around to updating my ES cluster from 2.4 to the latest, which is now 5.1.1

This plugin is unfortunately not compatible

[2016-12-20 10:15] julian-eggers opened #16 "Support ES 2.4.3"
This is one of last 2.X-Versions and many clusters will stay on it for a long time, so please support it

[2016-12-20 11:10] onibox opened #17 "Support for ES 1.7.X"
Although ES 1.7 is quite old it still might be used in some places. Would it be a big deal to support those older versions of ES too?

[2016-12-29 06:53] vvanholl commented on #15
Hi, I have released new version 5.1.1.0

[2016-12-29 06:53] #15 closed

[2017-01-09 20:44] vvanholl commented on #16
Hi, this is a bit late but you'll find the 2.4.3.0 release there :
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/2.4.3.0

[2017-01-09 20:44] #16 closed

[2017-01-09 20:46] vvanholl commented on #17
Hi,

I already have versions 2.x and 5.x to maintain. I don't think I'll have time for that. sorry

[2017-01-09 20:46] #17 closed

[2017-01-11 08:03] liujiawinds opened #18 "Metric get a value -0.000000"
I got this error log while the rest interface invoked.
[code]

versions :
[code]

[2017-01-11 08:44] vvanholl commented on #18
Hi,

How can you make ES 5.0.2 and plugin 5.0.1 make work together since versions are different ?

Vincent

[2017-01-11 10:13] liujiawinds commented on #18
I just modified the `elasticsearch.version` in the `plugin-descriptor.properties` .

[2017-01-11 12:56] vvanholl commented on #18
I'll look at your problem, but you shouldn't upgrade version number like that.
ElasticSearch plugins must be compiled with according ES version. Imagine the case where classes implementations have changed between 2 versions.

[2017-01-11 12:57] vvanholl commented on #18
By the way, I have added Vagrant support and it's now more easy to compile for a specific ES version.

[2017-01-16 14:30] kojilin opened #19 "Want to have slowlog stats"
I think elasticsearch doesn't have that feature directly, but we can use log appender to count the slowlog?

like
[code]

[2017-01-23 16:57] Bounz commented on #1
Faced with the same problem on fresh Elasticsearch 5.1.2 installation.
[code]

[2017-01-24 15:28] Bounz commented on #1
Well, it looks like it's a problem of elasticsearch on Windows host. Everything works great with elastic on Linux.

[2017-02-02 17:31] jperville opened #21 "ES v5.2.0 support?"
Could we get a release of this plugin compatible with ElasticSearch v5.2.0 (just released)?
Thank you in advance.

[2017-02-03 13:57] vvanholl commented on #21
HI @jperville, I am currently working on it.
I think it will be released soon.

Vincent

[2017-02-03 17:06] jperville commented on #21
Thank you very much @vvanholl

[2017-02-06 20:29] #21 closed

[2017-03-12 16:04] alexey-boyko commented on #18
Hi
same stuff
`[2017-03-10 15:07:46,429][ERROR][RestPrometheusMetricsAction] Can not increment metric indices_querycache_cache_count with value -12.000000, skipping
[2017-03-10 15:07:46,429][ERROR][RestPrometheusMetricsAction] Can not increment metric indices_querycache_hit_count with value -6412.000000, skipping
`
elasticsearch: 2.3.5
elasticsearch-prometheus-exporter: 2.3.5.5
prometheus: 1.5.2

[2017-03-19 22:16] mjasion opened #25 "Node label contains IP address"
Every metric contains `node` label. But value is IP address instead of `node.name`.

The problem appears when es cluster architecture contains multiple nodes on same machine(e.g. to not cross 32GB RAM). Then there are multiple metrics of different nodes, with same IP and its hard to analyze

Below is sample configuration:
[code]
And output of `_prometheus/metrics` endpoint:
[code]

[2017-03-29 13:35] vvanholl commented on #25
Hi @mjasion,

This is now solved in the latest release

[2017-03-29 13:35] #25 closed

[2017-04-13 13:16] jperville opened #26 "Per-index statistics"
Is there a way for this plugin to expose the indices stats (see here https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-stats.html )?

I would like to add index-specific panel in my custom Grafana dashboard (based on your sample dashboard) such as "number of document per index".

[2017-04-13 18:29] vvanholl commented on #26
Hi @jperville,

This is something I have considered to develop soon and this shouldn't be too difficult too implement.

However I think this should be an optional feature to be switch on in ES configuration file. In fact you have clusters with too many indices, and fetching metrics could painfull.

[2017-04-13 19:00] jperville commented on #26
If you have some clues on how to get started I will see what I can do (I am total novice in go).

[2017-04-13 19:32] vvanholl commented on #26
You don't need go skills since ElasticSearch plugins are written in java.

[2017-04-13 19:34] jperville commented on #26
Sorry, then I have very rusty java skills :)

[2017-04-18 12:51] jayme-github commented on #18
Same here Elasticsearch 2.4.1, plugin: 2.4.1.0
[code]

[2017-04-23 20:45] vvanholl commented on #26
@jperville : I am currently working on it as you can see my last commit :)

[2017-04-23 21:35] jperville commented on #26
Thank you very much @vvanholl, looking forward to seeing it.

[2017-04-24 16:06] rosskukulinski commented on #13
I'm also seeing this and was thrown off!

[2017-04-24 19:54] vvanholl commented on #13
@rosskukulinski : This problem should be solved from many weeks now. What version of the plugin do you use ?

[2017-04-24 19:58] rosskukulinski commented on #13
@vvanholl ahh - I'm still on 5.3.0.  I see it's fixed in 5.3.1.  Thanks

[2017-04-28 17:11] mattupstate opened #30 "5.3.2 plugin archive is not available"
[code]

[2017-04-28 17:41] karthimohan opened #31 "Support for ElasticSearch 1.7.1"
Hi,
I know we are using a very old version of ElasticSearch. But have some difficulties in migrating the schemas to the new version. We use Prometheus for monitoring and Alerting for all of our system expect ElasticSearch. is there a way i can use this plugin with the ES version 1.7.1?
Thank you

[2017-04-28 17:50] vvanholl commented on #30
Sorry, I accidentally copied the jar file instead of zip (:

[2017-04-28 18:02] mattupstate commented on #30
No problemo. Thanks!

[2017-04-28 18:02] #30 closed

[2017-05-09 11:16] nyilmaz opened #33 "Consider adding per-index stats to 2.x branch"
Knowing that many people still using es 2.x and even 1.x (and many of them hesitate upgrading because of many breaking changes in es), would you consider adding `registerPerIndexMetrics()` to 2.x branch? At first, is it possible?

[2017-05-10 03:13] zazab commented on #2
Hi
any progress on this issue?

I'm getting lots of such errors on metrics `indices_querycache_evictions_count` and `indices_percolate_queries_count` (plugin version 2.4.4.0, elastic 2.4.4)

[2017-05-22 16:12] astral303 commented on #18
I'm seeing this sometimes too:

    [2017-05-22T14:17:00,906][ERROR][RestPrometheusMetricsAction] Can not increment metric index_get_time_seconds with value -0.000000, skipping

Looks like the code should convert negative zero values to positive zeros.

[2017-05-22 16:14] astral303 opened #34 "get_current_number metric should be a gauge"
Currently this metric is set up as a counter, but should be a gauge. The plugin is logging these errors:

[2017-05-22T15:38:08,748][ERROR][RestPrometheusMetricsAction] Can not increment metric index_get_current_number with value -4.000000, skipping
[2017-05-22T15:38:09,668][ERROR][RestPrometheusMetricsAction] Can not increment metric indices_get_current_number with value -2.000000, skipping

ES 5.

[2017-05-25 03:32] vicfl commented on #31
same here!

[2017-05-28 05:40] peimanja commented on #31
+1 support for 1.7.x versions are appreciated

[2017-05-30 12:58] jperville opened #36 "per-index metrics on deleted index"
# Bug description

Per-index statistics continue to output per-index metrics for an index after that index has been deleted.

# Scenario

1. Create an index
2. Render /_prometheus/metrics, grep for the index name (the index should be listed in per-index metrics such as `index_doc_number`)
3. Delete the index
4. Verify that the deleted index is not listed anymore in the output of `/_stats`
5. Rende

[2017-05-30 13:29] jperville opened #37 "per-index metrics use the "total" stats instead of the "primaries" stats"
# Description

In the output of elasticsearch `/_stat` route, the per-index metrics are grouped either by "total" or by "primaries". The current code seems to be using the "total" variant while I am expecting to use the "primaries" variant.

# Possible solutions

Either:
 - use the "primaries" variant instead of the "total" variant for all per-index metrics
 - export both "primaries" and "total" m

[2017-06-08 06:05] mindw opened #40 "ElasticSearch errors for index_search_fetch_time_*"
ES 5.4.0 cluster configured with 3 masters, 2 data & 3 clients.

Seeing a lot of errors in the logs - can anyone suggest what is causing them?

[code]

[2017-06-13 09:56] abrisse commented on #37
+1

[2017-06-13 09:57] abrisse commented on #26
+1

[2017-06-13 10:11] jperville commented on #37
@vvanholl could you have a look at this issue? It is important for us and I suspect not too difficult to implement.

[2017-06-24 19:20] vvanholl commented on #40
This was because these metrics were counters and tried to be incremented with a negative value.
Since I switched all counters to gauge, this problem must be solved now

[2017-06-24 19:20] #40 closed

[2017-06-24 19:21] vvanholl commented on #37
@jperville , This has been corrected in the latest release. Now for per index metrics you have a new label called "context" for switching between total and primaries

[2017-06-24 19:21] #37 closed

[2017-06-24 19:21] vvanholl commented on #34
Since I switched all counters to gauge, this must be solved now.

[2017-06-24 19:21] #34 closed

[2017-06-24 19:22] #26 closed

[2017-06-24 19:26] #2 closed

[2017-06-24 19:28] vvanholl commented on #31
Hi,
This is a lot work supporting ES 5.x and 2.x branches on my spare time. Unfortunately I have not enough time for another branch. I am sorry for that, but any PR could be welcomed :)

[2017-06-24 19:28] #31 closed

[2017-06-26 08:37] jperville commented on #37
Hello @vvanholl, I have tested the new feature (after compiling the plugin myself for ES v5.3.1). Would you like me to write a PR explaining how to contribute to the plugin (especially compilation instructions)?

[2017-06-30 13:28] lustefaniak commented on #34
@vvanholl is it backported to 2.3.5 too? I'm getting it there. It is a pitty, that we need new version of the plugin for every version of ES :(

[2017-07-03 10:21] cgoeller opened #46 "5.4.3.0 Plugin archive contains wrong plugin descriptor"
The 5.4.3.0 Archive (https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-5.4.3.0.zip)  contains the plugin descriptor for version 5.4.2.0.

It's not possible to install it

[code]

[2017-07-03 18:41] vvanholl commented on #46
Hello,

Sorry for the inconvenience, it's solved now :) In fact Gradle did not update as I expected the plugin descriptor.

Vincent

[2017-07-03 18:41] #46 closed

[2017-09-12 12:22] Bounz commented on #1
After updating elasticsearch to the newer version I faced with this issue again and made a PR #53.
@vvanholl Could you, please, review it and merge?

[2017-09-13 10:29] guibertni commented on #18
I also seeing this on ES + Plugin 5.3.0

[2017-09-13 11:31] #1 closed

[2017-10-01 21:05] floragunncom opened #57 "thread context handling is buggy"
You may not want to use the "client" reference, you got on the first call, use for all other calls.
In other words: The "client" must not be stored in an instance variable because its context aware per rest call.
<pre>
//5.x
collector.compareAndSet(null, new PrometheusMetricsCollector(settings, client));

//2.x
if (collector == null)
collector = new PrometheusMetricsCollector(client);
</pre>

See

[2017-10-03 13:50] lukas-vlcek opened #58 "[Warning] Do not execute a blocking operation on a networking thread"
I am currently implementing integration test for this plugin based on `ESIntegTestCase`. See [docs about integration tests](https://www.elastic.co/guide/en/elasticsearch/reference/2.4/integration-tests.html) for more details. _(PS: I am about to send PR soon)_

Within that integration test, when doing HTTP request to ES node pointing to `/_prometheus/metrics` endpoint I am getting the following as

[2017-10-06 13:07] esseti opened #60 "Support for ES >2.4.1"
Hi all,
I'm running 2.4.4 and the plugin does not work for that version.
Any plan to update the compatibility?

[2017-10-06 14:04] lukas-vlcek commented on #60
There are actually releases for ES 2.4.4.0 and newer. Check https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases
I think the README file in `master` branch is not updated, but in the [`2.x` branch](https://github.com/vvanholl/elasticsearch-prometheus-exporter/tree/2.x) the README file seem to be more up-to-date.

[2017-10-09 17:49] jcantrill commented on #58
@lukas-vlcek I also see this in the integration test but am uncertain how to resolve.

[2017-10-09 18:22] lukas-vlcek commented on #58
@jcantrill You are getting the same exception? Where? I know how Prometheus exporter plugin needs to be improved (I am almost done with my PR here).

[2017-10-09 18:25] jcantrill commented on #58
try adding the '-da' switch to your args and it will go away.  The take away though is there is some async work that needs to be done but I don't know what the correct solution is.

[2017-10-09 18:38] lukas-vlcek commented on #58
Correct solution is to go full async (I am baking the change in my branch, you can see the [comparison of branches here](https://github.com/vvanholl/elasticsearch-prometheus-exporter/compare/2.x...lukas-vlcek:57?expand=1)), which means the real work can not occur on rest layer but deeper at transport layer. This means messing with all the transport actions, requests and responses. Then the IntegTe

[2017-10-09 18:40] lukas-vlcek commented on #58
And just to make it clear, all this apply to `2.x` branch. (Though I think the same will have to be fixed for `master` as well).

[2017-10-11 07:22] mstein-agile opened #62 "What is the build schedule for this exporter?"
I am hoping to use this with the new ES 5.6.3 release and was curious whether this gets auto-built with new releases.

[2017-10-11 09:09] lukas-vlcek opened #63 "Why using node name instead of node ID for label?"
_I have a question and I did not find any link to community forum, hence creating a ticket._

My question: Why is this plugin using **node name** instead of unique **node ID** for metric label?
Relevant code can be found in `PrometheusMetricsCollector` ctor:

[code]

Theoretically, nodes in ES cluster can be given the same name while they are physically different nodes (but they always have differ

[2017-10-11 10:40] davidkarlsen commented on #63
why not add both as labels?

[2017-10-11 10:41] davidkarlsen commented on #62
It's manual - and there is already a PR for it: https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/61

[2017-10-11 11:02] lukas-vlcek commented on #63
@davidkarlsen Yes, I think that is correct solution.
I will submit PR for this (actually, it will be part of my other PR that is going to fix #57 and #58).

[2017-10-11 11:11] vvanholl commented on #63
In fact, I prefer also having this information as a label instead of replacing node name by ID

[2017-10-11 14:14] lukas-vlcek commented on #63
Sure, that is what I meant by saying:

I will include both, the node id and the node name in labels.

[2017-10-11 19:47] vvanholl commented on #62
Version 5.6.3.0 has been released today

[2017-10-11 19:47] #62 closed

[2017-10-13 08:02] lukas-vlcek commented on #14
Does Kopf provide node logs? (I do not think so but I might be wrong...)
As far as getting metrics for all nodes in the cluster via hitting a single node that is not supported in this plugin but I think it should be possible to implement.

[2017-10-16 16:10] vchan2002 commented on #60
Given that... will there be support for 2.4.6?  There does not appear to be a release for this...

[2017-10-17 13:02] lukas-vlcek commented on #58
Just for the record: I found some resources that make it very clear that using blocking calls on transport thread (*) should be avoided. The roots of the assert that does this check can be tracked down to [this discussion](https://github.com/elastic/elasticsearch/pull/9056#discussion-diff-22459473) and it led to explicit PR https://github.com/elastic/elasticsearch/pull/9164.

If I understand the r

[2017-10-23 12:22] reftel opened #65 "No build for 2.4.6"
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases and the readme file in the 2.x branch both list released for ES versions up to 2.4.5, but there appears to be no build for 2.4.6. Could we have one?

[2017-10-24 10:27] reftel commented on #65
There's an old PR for it: https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/52

[2017-11-06 13:02] lukas-vlcek opened #66 "[Discussion] Integration tests for ES 5.x and above"
The PR #64 introduced **integration tests** for this plugin using officially documented `ESIntegTestCase` support **for the `2.x` branch**. The question is how integration tests should be implemented for ES 5.x and above. While the official documentation still refers to [integration tests](https://www.elastic.co/guide/en/elasticsearch/reference/5.5/integration-tests.html) there is actually strong

[2017-11-09 18:52] vchan2002 commented on #40
Which version of the prometheus exporter had this switch been made?  Does that mean using a new version of ES since the versions of the prometheus plugin is tied to the elasticsearch version?

[2017-11-16 14:25] enyamada opened #68 "Support to 5.3.3 version"
Hi. Any plans to have a plugin to support the 5.3.3 version? Thank you.

[2017-11-21 14:25] reftel commented on #65
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/2.4.6.0 was released on 26th of October.

[2017-11-21 14:25] #65 closed

[2017-12-08 00:02] mikn opened #72 "Support Elasticsearch 6.0.1"
You know. It's that time of the day again ;)

[2017-12-08 17:45] davidkarlsen opened #74 "support es 5.6.5"
do you have a branchpoint to continue support for the 5.6.x series?

[2017-12-11 10:23] Aaronzk commented on #18
I also see this every time，ES5.4.0 + plugin5.4.0.
`[2017-04-18 12:47:56,250][ERROR][RestPrometheusMetricsAction] Can not increment metric indices_querycache_cache_count with value -24.000000, skipping`
By the way, how to build the plugin，what IDE is recommended?

[2017-12-12 10:09] mjtrangoni opened #75 "promtool issues"
Hi @vvanholl,

please consider using [promtool](https://github.com/prometheus/prometheus/tree/master/cmd/promtool) for metrics validation.

See,
[code]
You can install `promtool` as follows:
`go get -u github.com/prometheus/prometheus/cmd/promtool `

[2017-12-14 06:57] piotrkochan opened #76 "Support Elasticsearch 6.1"
https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-6.1.0.html

[2017-12-19 20:43] davidkarlsen commented on #74
Fixed in https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/5.6.5.0

[2017-12-19 20:43] #74 closed

[2017-12-19 20:44] davidkarlsen commented on #72
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.0.1.0

[2017-12-20 08:48] vvanholl commented on #72
Version 6.0.1.0 has been released

[2017-12-20 08:48] #72 closed

[2017-12-20 08:48] vvanholl commented on #76
Version 6.1.0.0 has been released

[2017-12-20 08:49] #76 closed

[2017-12-20 08:49] #63 closed

[2017-12-20 08:49] #57 closed

[2017-12-20 13:03] lukas-vlcek commented on #63
Has this been solved for 5.x and 6.x ?
My PR (#64) solved this for 2.x only for now.

[2017-12-20 13:05] lukas-vlcek commented on #57
Has this been solved for 5.x and 6.x ?
My PR (#64) solved this for 2.x only for now.

[2017-12-20 13:41] thuandt commented on #76
@vvanholl how about 6.1.1 https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-6.1.1.html ?

[2018-01-26 16:17] jcantrill opened #81 "Support 2.4.4"
Please release a version to support 2.4.4 in order to pull in https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/64

[2018-02-02 05:23] Bharathkumarraju opened #85 "elasticsearch prometheus exporter SSL Error"
@vvanholl

We are using the prometheus elasticsearch exporter plugin to send prmotheus elasticsearch metrics from sysdig agent(dragent) to sysdigserver we are getting below error.

We are able to push to if elasticsearch runs on HTTP ...the problem occurs with HTTPS of elasticsearch ...any idea?

2018-02-02 05:13:40.128, 8045, Information, sdchecks[8048] Skip retries for Prometheus error: ('Connec

[2018-02-02 13:38] jperville commented on #36
You'll find attached a screenshot demonstrating the issue :
![elasticsearch-prometheus-phantom-indexes](https://user-images.githubusercontent.com/834791/35735854-65abc91c-0826-11e8-84a7-8f097a4fe5a8.png)

On the screenshot, around 13h39 the number of documents falls to zero (as expected after deleting all the indices) yet the per-index counters remain at their old (larger than zero) value. I would

[2018-02-02 13:43] abrisse commented on #36
:+1:

[2018-02-07 12:32] HristoMohamed opened #87 "Unable to install on Easticsearch 6.2.0 with plugin-descriptor.properties, Unknown properties in plugin descriptor: [jvm, site]"
``[root@elasticsearch01 bin]# /usr/share/elasticsearch/bin/elasticsearch-plugin install https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-6.2.0.0.zip
-> Downloading https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-6.2.0.0.zip
[=================================================] 100%  
Exception in thread "main" java.lang.IllegalArgument

[2018-02-08 09:56] davidkarlsen commented on #87
@vvanholl can you merge and do a new release?

[2018-02-09 09:10] #87 closed

[2018-02-21 13:20] oStritze opened #91 "Not working with 6.2.1 + 6.2.2 when audit logging of elasticsearch is enabled"
I just reported a bug to Elasticsearch where the /_cat/health/ is not working anymore after enabling Audit in Elasticsearch. The /_prometheus/metrics/ endpoint is bugged as well.

When audit is enabled, i get the following:

[code]

In Elasticsearch Log:

[code]

[2018-03-01 22:17] stobias123 commented on #36
bump

[2018-03-05 09:14] Nemie commented on #91
I can confirm that in Elasticsearch 6.2.2 if you have x-pack audit logging active, the prometheus exporter endpoint doesn't work. It only gives the message reported by @oStritze. I disabled audit logging in our test environment and then the plugin worked just as it did before.

[2018-03-06 08:09] krystiankulasza opened #92 "Install plugin in ElasticSearch 6.2.x using proxy"
ES_JAVA_OPTS="-Dhttp.proxyHost=host_name -Dhttp.proxyPort=port_number -Dhttps.proxyHost=host_name -Dhttps.proxyPort=https_port_number"
./bin/elasticsearch-plugin install -b https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-6.2.2.0.zip

[2018-03-06 12:20] #92 closed

[2018-03-14 09:24] lukas-vlcek opened #93 "URL for Grafana dashboard source code?"
There is a Grafana dashboard associated to this plugin: <https://grafana.com/dashboards/266>
Is there any URL/GitHub link or anything where I could find the source code?

I am missing some metrics in the dashboard and I would love to contribute back.

[2018-03-19 04:00] vinkdong opened #94 "No disk io when use glusterfs"
Hi,
I am using glusterfs to store data on my elasticserach cluster, The disk io is always 0, Is there any metric about glusterfs io and read-write bytes?

[2018-03-21 19:58] vvanholl commented on #94
Hi,

I don't think you'll find something relevant about glusterfs in elasticsearch metrics. In fact I think this is because of the nature of the file system which is network oriented.

Maybe you'll have something better using the node_exporter or gluster_exporter :
https://github.com/prometheus/node_exporter
https://github.com/ofesseler/gluster_exporter

Vincent

[2018-03-21 20:00] vvanholl commented on #93
I am sorry but there's no git repo behind. But you have access to the (ugly) json code by clicking on "Download JSON" on the page.

Vincent

[2018-03-21 20:01] vvanholl commented on #94
By the way, I am curious about your usecase using GlusterFS with ElasticSearch.
Do you use it for a production environment ?
What are the the performances ?

[2018-03-21 20:28] lukas-vlcek commented on #93
Yes, I downloaded it and I am experimenting with it. I am sure I will need some additional charts there (for example I am missing queues stats, rejected bulk requests and the like...).

[2018-03-22 02:01] VinkDong commented on #94
@vvanholl Thank you for the reply!
We have start test of GlusterFS but there is something bad and make elasticsearch status to red easily.

[2018-03-29 09:42] grantstephens opened #96 "Add Relocating Shards"
Unless I've missed it there seem to be a couple of metrics missing, specifically the ones available from `_cluster/health` which include relocating shards, initialing shards etc. Please could these be added to the exporter.

[2018-04-02 07:24] imanandshah opened #97 "Elasticsearch version 2.4.4 compatibility"
I need to use for Elasticsearch version 2.4.4 and it fails. Can you help?

Verifying https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/2.4.1.0/elasticsearch-prometheus-exporter-2.4.1.0.zip checksums if available ...
NOTE: Unable to verify checksum for downloaded plugin (unable to find .sha1 or .md5 file to verify)
ERROR: Plugin [prometheus-exporter] is incompatible wi

[2018-04-06 14:03] pjhampton opened #98 "Request: Determine if index is read only"
Hey - great plugin! Friendly request,

We have an ES cluster under serious stress at work and there has been a couple of occasions a file system on the vm when the nodes persistence goes above 95% and the index goes read only. It would be great if there was a metric for this.

We have resorted (rightfully) to monitoring this at a box level, but would be great if we could catch it here too.

[2018-04-09 13:40] grantstephens commented on #96
Sorry, I found it eventually under `es_cluster_shards_number{type="relocating"}`

[2018-04-09 13:40] #96 closed

[2018-04-12 11:03] lukas-vlcek commented on #58
@jcantrill I was looking again into the code and if I am not mistaken then a lot of the changes (if not all) from the 2.x fix were brought into master branch and should be part of the plugin since `5.6.5.0`, see this commit https://github.com/vvanholl/elasticsearch-prometheus-exporter/commit/775b2268c02c47b99247ec816d89b099ab27d7fc

This includes full async operational mode and ability to protect

[2018-04-12 11:07] lukas-vlcek commented on #58
@jcantrill the only thing that I think is really missing here is a set of unit and integration tests. We should consider help building them. If using unit test framework by Elastic will not work well here (for example because it may be discontinued, see https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/66) then we can try to implement unit tests in similar way we did it for some

[2018-04-12 11:16] lukas-vlcek commented on #91
I am shooting in the dark here now (I do not have experience with ES 6.x yet) but is security enforced when X-Pack auditing is enabled? I.e. do you have to setup user roles first (or they are created by default by X-Pack)? What I see in the log is that the user is not authorized to call Cluster Health API (which is called under the hood from within Prometheus plugin).

[2018-04-17 23:53] vchan2002 commented on #18
Any updates on this?  I'm getting the same error. with ES 5.4.0 and plugin 5.4.0 also.
`
[2018-04-17T23:48:28,338][ERROR][RestPrometheusMetricsAction] Can not increment metric index_warmer_time_seconds with value -160.000000, skipping
--
`

[2018-04-19 11:27] pjhampton commented on #98
We found we can tell this from the circuit breakers tripping! Thanks any :+1:

[2018-04-19 11:27] #98 closed

[2018-04-20 09:40] oStritze commented on #91
@lukas-vlcek the /_health/ API is completely broken if you enable Audit Logging. It is not the only API-Endpoint that is not working anymore when you enable Audit. I think the Log is just making no sense, as you see in my initial post i curled with superuser elastic and nontheless got the Security Exception in the Log.

Elastic made some changes to Audit Logging in v6.2.x, which we were desperatel

[2018-04-24 16:13] deimosfr opened #101 "Docker version"
Hi,

Thanks for your hard work (it reminds me something :p). Do you plan to make a docker version of your exporter ?

By the way, thanks for the Grafana dashboard as well.

Thanks

[2018-04-24 16:14] deimosfr commented on #101
Oops, just seen it's an Elasticsearch plugin. Don't you plan to make a specific exporter ?

[2018-04-26 19:42] LudovicTOURMAN opened #102 "compuscene.net certificate expiration"
Hi Vincent and thanks for your works, however your hosting server certificate has expired since today (April 26th).
Due to the certificate security check made by `elasticsearch-plugin install` (And other security checks), a lot of people won't be able to download and install your plugins anymore through https URL.

Could you do something for it or tell if your packed plugins are hosted somewhere e

[2018-04-27 13:12] LudovicTOURMAN commented on #102
Problem seems to be solved now ;)

[2018-04-27 13:12] #102 closed

[2018-04-30 19:04] vvanholl commented on #101
Hi @deimosfr,

Thank you first for using my plugin :)

I developed it mainly to use as an ES plugin, not a standalone program.In fact I originally wanted to avoid using a third party component between ES and Prometheus.

It wouldn't be easy to transform as a single program. There are too many internal relations with ES components. The only and best way to do it is creating a coordinating node (not

[2018-05-09 22:48] Romiko opened #104 "Feature - Exposure License Expiry Date on endpoint /_license"
Hi,

It would be awesome to expose the License details, especially the Expiry Date, so that Prometheus can alert when an Elastic License is about to expire.

Response:
GET http://xyz.com:9200/_license

`{
  "license" : {
    "status" : "active",
    "uid" : "myid",
    "type" : "gold",
    "issue_date" : "2018-04-19T00:00:00.000Z",
    "issue_date_in_millis" : 1524096000000,
    "expiry_date" : "2

[2018-05-19 04:03] diaosichen opened #105 "6.2.4 405 error"
when i start the exporter. the error happen like this:
{"error":"Incorrect HTTP method for uri [/_prometheus/metrics] and method [GET], allowed: [POST]","status":405}

elasticsearch version:6.2.4
How cant i set it ?thanks!

[2018-05-19 16:27] HaveFun83 commented on #105
What do you set in your uri: value?
[code]
Maybe you missed the http:// in front?

[2018-06-11 11:59] ssozonoff commented on #26
Was this ever done ?

[2018-06-11 13:53] ssozonoff commented on #26
Hmmm for which version's should this work ? We are running ES 5.6.2 with version 5.6.2.0 of the plugin. Thanks

[2018-06-11 14:03] lukas-vlcek commented on #26
If you are using `v5.6.2.0` then I think you should have it, see [5.6.2.0/src/main/java/org/compuscene/metrics/prometheus/PrometheusMetricsCollector.java#L37](https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/5.6.2.0/src/main/java/org/compuscene/metrics/prometheus/PrometheusMetricsCollector.java#L37)

[2018-06-14 17:14] wargamez opened #107 "Please make a new version for ES 6.3.0"

[2018-06-14 18:45] davidkarlsen commented on #107
See https://github.com/vvanholl/elasticsearch-prometheus-exporter/pulls

[2018-06-15 08:10] lukas-vlcek commented on #101
@deimosfr You are probably looking for Prometheus exporter for Elasticsearch. Some exporters are listed here: https://prometheus.io/docs/instrumenting/exporters/

In some cases you want to be able to pull metrics from individual nodes as opposed from central proxy (exporter). For example if some nodes are disconnected from ES cluster then you will not get their metrics using exporter. But if you i

[2018-06-15 09:08] deimosfr commented on #101
Totally agree @lukas-vlcek thanks

[2018-06-15 09:08] #101 closed

[2018-06-19 20:12] vvanholl commented on #107
This is merged today

[2018-06-19 20:12] #107 closed

[2018-06-20 04:22] Jacketbg opened #108 "6.3.0 install issue"
Just upgraded my cluster to 6.3.0 and the plugin fails to install

Here's my setup:

[code]

When I try to install the plugin I receive the following error:

[code]

Can you please check? Thanks!

[2018-06-20 07:07] vvanholl commented on #108
Hi @Jacketbg. I am currently working on it

[2018-06-20 07:09] vvanholl opened #109 "Version 6.3.0.0 is broken"
Hi,

I post this issue to notify you that version 6.3.0.0 is actually broken.

`ERROR: This plugin was built with an older plugin structure. Contact the plugin author to remove the intermediate \"elasticsearch\" directory within the plugin zip`

I am currently investigating on it and I expect finding a resolution soon.

[2018-06-20 07:35] vvanholl commented on #109
Release 6.3.0.1 should fix this.

[2018-06-20 07:35] vvanholl commented on #108
Release 6.3.0.1 should fix this issue.

[2018-06-20 07:47] Jacketbg commented on #108
I can confirm that it works now. Thanks for the quick reaction!

[2018-06-21 07:43] #108 closed

[2018-06-21 07:44] #109 closed

[2018-06-28 19:00] bred86 opened #110 "Can't download the plugin (ES6.3.0)"
Hi,

i'm trying to install it inside Elastic container.
My Dockerfile:

[code]

What i get:

[code]

[2018-06-28 20:31] #94 closed

[2018-07-05 10:42] grantstephens opened #111 "Increment metric indices fails for 5.2.1.0"
Hi. I'm running exporter version 5.2.1.0 and the logs are fill of `Cannot increment metric xxx` for the following metrics:
[code]
I see there was a similar issue for version 2- were the changes not applied in v5?

[2018-07-06 14:21] lukas-vlcek commented on #93
@kedare By the latest version you mean ES 6 or higher?

FYI, I started (re)building dashboard for Grafana here <https://github.com/lukas-vlcek/elasticsearch-mixin/blob/master/dashboards/elasticsearch.libsonnet> but this is highly WIP ATM. There will be a way how to get just the needed JSON (for those who need _just the dashboard_). I plan to add some missing charts into the dashboard too. And of c

[2018-07-09 11:57] himmatb commented on #97
Just use other branch which is tagged with 2.4.4.0 ..
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/2.4.4.0/elasticsearch-prometheus-exporter-2.4.4.0.zip

[2018-07-09 12:03] himmatb commented on #93
Can i get indices size based on per indices in grafana dashboards .. are we capturing this kind of metrix in this plugin/ Dashboard ?

Please help me to this kind of requirement .. Please help me on this..

[2018-07-09 12:48] lukas-vlcek commented on #93
@himmatb Yes, you can.

You can use Prometheus queries like:
[code]

to get top 10 largest indices for example.

I am trying to add this type of information into dashboard as well (currently in [indices_table](https://github.com/lukas-vlcek/elasticsearch-mixin/blob/d7b03a4d91d4bcd7543a795939cb0b094ef6ad24/dashboards/elasticsearch.libsonnet#L426) branch). But I am struggling with Grafana tables as

[2018-07-12 08:56] mjtrangoni opened #113 "Export ES and JVM Version as labels"
Hi @vvanholl ,

As a Feature Request, it would be nice to have  the ES and JVM Version exported as labels.

[code]

Is that possible? Maybe at this metric here,
[code]
to something like,
[code]

Thanks!

[2018-07-13 14:55] kedare commented on #93
Both ES6 and the last version of the exporter, the metrics names changed apparently

[2018-07-19 00:12] yehaolan opened #114 "Export metrics to /metrics"
Since the Prometheus that I have will scrape in the path `/metrics`, I would like to export prometheus metrics to `/metrics` instead of `/_prometheus.metrics`. How can I build the source code with new path specified?

[2018-07-19 14:11] wfindley commented on #114
you can't do this.  elasticsearch has its *own* endpoint that serves on `/metrics`

[2018-07-19 14:30] jperville opened #115 "es_index_* metrics are not exported anymore"
Until recently, we were running ElasticSearch v5.5.1 with version 5.5.1.0 of this plugin. We were using the `es_index_*` metrics in our Grafana dashboards for example to list the number of documents stored in each index with the `es_index_doc_number` metric.

After upgrading to ElasticSearch v6.2.1 and this plugin to version 6.2.1.0,  the `es_index_*` metrics are not exported anymore and our Grafa

[2018-07-24 22:03] nikolay opened #116 "Elasticsearch 6.3.2 is out"
@vvanholl

[2018-07-25 06:12] nikolay opened #117 "Rename "ElasticSearch" to "Elasticsearch""
There's no capital "S": https://www.elastic.co/brand

[2018-07-25 14:46] nikolay commented on #116
@blixem I know, that's why I submitted this and my Elastic stack is blocked by 2-3 plugins that are lagging behind. It's puzzling why Elastsearch and Kibana require a patch-level match of plugin versions! It should be compatible on `major`.`minor`, i.e. a plugin for 6.3.1 should work on any 6.3.x. Anyway, I'm being forced to fork all plugins I use, build them myself against the latest upstream ver

[2018-07-27 21:56] #116 closed

[2018-07-27 21:56] #117 closed

[2018-08-03 15:42] daachi commented on #111
Seeing this in 5.3 as well

[2018-08-13 13:53] lukas-vlcek commented on #114
You can configure Prometheus to scrape from non-default path by setting:
[code]
See <https://prometheus.io/docs/prometheus/latest/configuration/configuration/#scrape_config>

[2018-08-13 13:56] lukas-vlcek opened #120 "Fix naming ElasticSearch -> Elasticsearch"
Here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/854eb2e9517fda7067221400095e477ec083b6d1/gradle.properties#L7

[2018-08-13 14:10] lukas-vlcek commented on #120
AFAIK, this info is propagated to:
### `_cat` API
[code]
### CLI info
[code]

[2018-08-15 19:04] #120 closed

[2018-08-24 11:02] nikolay opened #122 "Elasticsearch v6.4.0 released"
@vvanholl Please, release a compatible version!

[2018-08-27 01:54] shuangyangqian opened #123 "Authorization issue with x-pack"
anyone who know how to config the Authorization params to auth with es cluster when i use x-pack to do the Authorization.
thank you very much!

[2018-08-27 02:33] shuangyangqian commented on #123
I config it out, can add basic_auth in promethues.yml just like:
`   - job_name: 'elasticsearch'
     metrics_path: /_prometheus/metrics
     scheme: http
     basic_auth:
      username: $username
      password: $password
     static_configs:
       - targets:
         - 'node-1:9200'
         - 'node-2:9200'
         - 'node-3:9200'
`

FYI: https://prometheus.io/docs/prometheus/latest/configura

[2018-08-28 17:16] nikolay commented on #122
Thank you, @vvanholl!

[2018-08-28 17:17] #122 closed

[2018-09-07 13:47] lukas-vlcek opened #124 "Expose cluster settings as a metric"
There is important use case for alerting. If we need to create alerting rule to alert on reaching critical [disk watermark thresholds](https://www.elastic.co/guide/en/elasticsearch/reference/6.0/disk-allocator.html) then we need to compare actual disk free size against actual values of relevant cluster settings values. Given many [cluster settings can be changed dynamically](https://www.elastic.co

[2018-09-13 09:28] lukas-vlcek commented on #66
Revisiting this issue. It seems to me that plugins authors can use the `ESIntegTestCase`. According to some posts (like [this one](https://discuss.elastic.co/t/elasticsearch-rest-integration-test-setup/147133/2)) this class is intended for plugin authors.
I will try to bring back unit tests from #64 into master.

[2018-09-13 09:28] #66 closed

[2018-09-18 19:41] nikolay opened #125 "Elasticsearch v6.4.1 got released"
@vvanholl Thanks in advance!

[2018-09-24 15:13] nikolay commented on #125
Thank you, @vvanholl!

[2018-09-24 15:13] #125 closed

[2018-10-03 07:12] nikolay opened #126 "Elasticsearch v6.4.2 is now available"
@vvanholl Thank you in advance!

[2018-10-08 07:31] nikolay commented on #126
This is an Elastic stack limitation as far as I know. I'm not sure why such a shortsighted decision was made by Elastic to require a patch-level match of the version. So, if you use ten plugins, let's say, you will have to wait months to apply a security update as typical plugin authors don't bother to update immediately after releases.

At this point, I'm starting to fork all Kibana and Elasticse

[2018-10-08 18:13] vvanholl commented on #126
Hi, Version 6.4.2.0 has just been release !

By the way, it is currently impossible to publish a plugin release that works for a set of ES versions, since the plugin has a parameter in plugin-descriptor.properties called elasticsearch.version that must be the same as ES otherwise the plugin can not install.

[2018-10-08 18:13] #126 closed

[2018-10-08 18:59] nikolay commented on #126
@vvanholl How about the crazy idea to generate 5 patch versions in advance then? Let's say, when 6.4.0 got released, you'd publish 6.4.0 to 6.4.5. 😄

[2018-10-09 14:59] cgoeller commented on #126
Thanks for the release. 👍

If Elastic integrated the functionality into ES, it would be even easier ...

[2018-10-10 14:07] lukas-vlcek opened #127 "Introduce integration tests using esplugin"
There is a gradle plugin called `esplugin` that is used to run integration REST tests in Elasticsearch. Unfortunately, I did not find a lot of documentation for plugin authors about how to really use it except for simple examples. Despite this we want to add it, besides running ITs it brings in several important checks and simplifies and automate building of `plugin-descriptor.properties` file.

[2018-10-16 11:52] lukas-vlcek commented on #115
You are right, it got lost here:
https://github.com/vvanholl/elasticsearch-prometheus-exporter/commit/775b2268c02c47b99247ec816d89b099ab27d7fc#diff-d03a301dd08e2be945563f2a77dc90b7L878

I think this can be my fault as well. I am going to fix this.

[2018-10-16 12:01] lukas-vlcek commented on #115
Once we merge https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/128 into master I will add tests for per index metrics too so this will not happen again in the future 😄

[2018-11-01 16:19] cnolden commented on #105
I experienced this error when not all nodes in the cluster had the plugin installed. Installing the plugin on all nodes fixed the issue for me (version 6.2.4)

[2018-11-01 19:58] #115 closed

[2018-11-01 19:58] #127 closed

[2018-11-07 17:48] nikolay opened #133 "Elastic 6.4.3 is available"
@vvanholl Please, release a compatible version. Thanks!

[2018-11-07 22:11] nikolay commented on #133
Thank you, @vvanholl!

[2018-11-07 22:11] #133 closed

[2018-11-14 20:37] nikolay opened #134 "Elastic 6.5.0 is available"
@vvanholl Please, release a compatible version. Thanks!

[2018-11-15 09:38] lukas-vlcek opened #135 "Remove coverage badge from README"
Gitlab badges were added in 3eb795d1f17 but we should remove the one for coverage. According to Elasticsearch documentation for [test-coverage-analysis](
https://github.com/elastic/elasticsearch/blob/master/TESTING.asciidoc#test-coverage-analysis) it is currently not supported.

[2018-11-15 19:33] lukas-vlcek commented on #134
I do not think I can cut new releases.

[2018-11-15 19:53] vvanholl commented on #134
Hi @nikolay, I took a first look at this new ES version and tried a build without success.
In fact there are many changes in the code so I must deal with that and a new release could take more time as usual.

[2018-11-15 20:00] nikolay commented on #134
@vvanholl I had the same suspicion. Thank you for all your great work!

[2018-11-16 07:36] lukas-vlcek commented on #134
BTW, @nikolay I think you should consider starting branches for all releases. This will simplify process of back-porting future changes back to older releases. WDYT?

For example, I am currently working on https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/124 and I am about to send PR soon. But, if I my code will not be compatible with both the 6.4.x and 6.5.x ES releases then I

[2018-11-16 08:50] nikolay commented on #134
@lukas-vlcek Our code already works with 6.5.0 but I need your plugin plus the Kibana exporter plugin - I always have to wait for the plugins to upgrade.

[2018-11-17 09:07] vvanholl commented on #134
I am currently working on porting the plugin to 6.5.0. The tests are OK and the plugin seems working well, but I have to continue checking everything is fine.

[2018-11-17 12:50] lukas-vlcek commented on #134
@vvanholl Feel free to ping me if you feel like someone else should review the code before releasing (just create PR).

BTW, what do you think about starting branches for new version releases? Do you think we will be able doing good going forward with just single 5.x branch. Will it allow us doing back-ports for releases pre 5.6.x and after 5.6.x?

[2018-11-19 20:41] vvanholl commented on #135
No problem, can you make a PR for that ?

[2018-11-20 13:38] lukas-vlcek opened #137 "Remove parenthesis from integration test names"
As reported here https://github.com/elastic/elasticsearch/issues/35692 there can be issues when running individual integration tests that contain parenthesis in its name.

This means we need to modify all affected *.yml files in `rest-api-spec/test` folder.

[2018-11-20 15:48] #135 closed

[2018-11-20 16:10] lukas-vlcek commented on #134
It is out now: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.5.0.0

[2018-11-20 16:10] #134 closed

[2018-11-20 16:11] nikolay commented on #134
Thank you, @vvanholl and @lukas-vlcek!

[2018-11-20 19:33] vvanholl opened #139 "Versioning ideas"
Hi all,

I 'd like to have ideas about improving versioning management.

**Actually this is a painfull process :**
3 branches : master (6.x) 5.x and 2.x increasing the latest version

**Each time a new ES version is released :**
- I change the version in gradle.properties to (6.5.0.0 for instance)
- I commit, push and let the CI build and publish artifacts
- I change again version in gradle.proper

[2018-11-20 19:33] vvanholl commented on #139
@lukas-vlcek

[2018-11-21 10:46] jperville commented on #36
@lukas-vlcek at the time I opened this issue (may 2017) I was using Elasticsearch v5.3.1 with version 5.3.1.0 of this plugin.

[2018-11-23 14:35] lukas-vlcek commented on #139
# Elasticsearch (plugin) branching model

After spending some time thinking about this I suggest we _learn from_ and _lean towards_ Elasticsearch's model. The reason is this is an Elasticsearch plugin and it has to follow the same release cycle; at the same time we will need to be able to make fixes & features back-ports for older ES releases. First, let's see how Elaticsearch does it.

All the of

[2018-11-26 09:04] IbaiAlonso opened #141 "Elastic issue 5.6.4"
Hi,

I had this plugin setup in both PROD (5.6.4) and DEV (6.4.2). In dev is working fine. However in PROD all the clusters (Cross Cluster Search enabled) got unestable status due to the plugin (before installing it never happened)

Basically, the servers ran out of resources and the cluster degraded eventually. I would say that the perfomance was ok 6 hours.

[2018-11-26 11:33] lukas-vlcek commented on #141
Can you share the logs from ES nodes please?
If the cluster was running ok for 6hrs do you have any collected metrics in Prometheus that you could share as well (sharing at least screenshots of Prometheus UI would be good start).

[2018-11-27 15:10] lukas-vlcek commented on #137
@nik9000 Do you know if the fix will be available for both the ES 5.x and 6.x?

[2018-11-27 15:22] nik9000 commented on #137
Not in 5.x, no.

[2018-11-27 16:09] lukas-vlcek commented on #137
@nik9000 Ok, well, then I will need to remove parenthesis anyway (I will be back-porting all esplugin tests back to ES 5.x as much as possible). But hey, thanks a lot Nik!

[2018-11-30 12:34] lukas-vlcek commented on #139
//ping @jprante
Jörg, I was thinking you might provide valuable input here, you are/were maintaining a lot of native ES plugins. Given we need to be able to do bug-fixes and feature back-ports do you think there is _easier_ way going forward than starting a branch for each ES release (i.e. at the "major.minor.patch" level of ES) and on that branch adding plugin releases at "major.minor.patch.plugi

[2018-12-03 17:29] lukas-vlcek commented on #139
@vvanholl PTAL at https://github.com/lukas-vlcek/elasticsearch-prometheus-exporter-branches-switch
Please see the README for use explanation. Let me know what you think.

[2018-12-05 17:36] nikolay opened #142 "Elastic v6.5.2 is now available"
@vvanholl Please, release a compatible version, thanks!

[2018-12-06 13:55] lukas-vlcek opened #144 "Wishing you peace and joy in 2019"
![english_blue](https://user-images.githubusercontent.com/205174/49588224-7cc3fe80-f966-11e8-9169-643c545dd92b.gif)

Looking forward to new challenges in 2019.

[2018-12-06 16:30] nikolay commented on #142
Thank you, @vvanholl!

[2018-12-06 16:30] #142 closed

[2018-12-07 19:01] georgios-2317 opened #146 "Bind to all interfaces"
How does one allow the plugin to bind to all network interfaces? Currently it binds only on 127.0.0.1 preventing access from an external Prometheus installation.

[2018-12-07 19:44] georgios-2317 commented on #146
Please ignore. For anyone else trying to figure this out, as a plugin it is actually listening on the same port and network address as your ES installation

[2018-12-07 19:44] #146 closed

[2018-12-10 16:23] johnskopis opened #147 "Add metrics on exceptions"
Related to #19

prometheus client_java includes a simple logger: https://github.com/prometheus/client_java#logging

When prometheus-exporter plugin registers it can hook into LogManager context and setup a Logger that counts exceptions.

This is useful because Elasticsearch seems to log lots of IllegalArgumentException. Look at MapperService.java for example. This is likely the case elsewhere but

[2018-12-11 14:31] lukas-vlcek commented on #147
Sounds like interesting idea to me.

Are there any code examples of what "it can hook into LogManager context" means? If I understand correctly we would need to implement this directly by calling the Java API of Prometheus Java client.

[2018-12-12 00:19] johnskopis commented on #147
see "Programmatically Modifying the Current Configuration after Initialization" at https://logging.apache.org/log4j/2.x/manual/customconfig.html

Looks like there's a utility:
https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/common/logging/Loggers.java#L134-L145

ex:
https://github.com/elastic/elasticsearch/blob/master/plugins/transport-nio/src/test/java/

[2018-12-12 16:27] nikolay opened #148 "Elastic v6.5.3 is now available"
@vvanholl Please, release a compatible version. Thanks in advance!

[2018-12-13 22:38] jprante commented on #139
@lukas-vlcek thanks for pinging me.

Yes, I also struggled at maintaining major version branches (2.x, 5.x, 6.x) and having to prepare plugin versions manually. I know the pain of delivering compatible plugin versions for each and every Elasticsearch version, down to the patch level. In short, I gave up. I decided to pick once or twice a year a selected version for my internal projects, paying the

[2018-12-14 11:43] lukas-vlcek commented on #147
I will dig deeper into this. One thing that would be very interesting is having exception metric on index shard allocation failures IMO.

[2018-12-14 21:00] #124 closed

[2018-12-17 17:33] nikolay commented on #148
Thank you, @vvanholl and @lukas-vlcek!

[2018-12-17 17:33] #148 closed

[2018-12-26 16:36] nikolay opened #150 "Elastic v6.5.4 is now available"
@vvanholl Please, release compatible artifacts. Thanks in advance!

[2019-01-03 15:35] lukas-vlcek opened #151 "Add cluster_uuid into Prometheus metrics"
Expose `cluster_uuid` value as part of the output metrics. This is especially useful/important to support scraping multiple ES clusters into common Prometheus.

I do not remember since which ES version the `cluster_uuid` was introduced but if I am not mistaken it can be found in ES 5.x and following releases. This means we should implement it in the `master` branch and then back-port all the way b

[2019-01-09 12:08] lukas-vlcek commented on #139
@vvanholl So what do you think? Do you think we can proceed further and accept the new branching model? Or do you think we shall first develop some supporting scripts as suggested above?

Did you have a chance to [check the script](https://github.com/lukas-vlcek/elasticsearch-prometheus-exporter-branches-switch#how-to-use-this-script) that I created to switch to the new model?

[2019-01-14 17:33] lukas-vlcek opened #152 "Many 5.x release tags are not attached to commits used to build final upstream artifacts"
The following releases are using incorrect gradle:build-tools version and plugin version:
- `5.6.13.0`: [`gradle.properties`](https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/5.6.13.0/gradle.properties#L3), [`build.gradle`](https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/5.6.13.0/build.gradle#L11)
- `5.6.13.1`: [`gradle.properties`](https://github.com/vvanholl/

[2019-01-14 17:49] lukas-vlcek commented on #152
To be hones I do not understand how it is even possible that those versions of plugins (when downloaded from `https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-5.6...`) actually work in ES. It seem that the plugin-descriptor.properties file magically contains correct version when downloaded from that resource.

[2019-01-15 13:45] lukas-vlcek commented on #139
I also suggest to make the README file quite minimal and move as much as possible to Project github pages:
- https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/
- https://pages.github.com/

[2019-01-16 13:18] lukas-vlcek commented on #152
There seem to be additional version mismatches here:

- `5.6.12.0`: [`gradle.properties`](https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/5.6.12.0/gradle.properties#L3)
- `5.6.11.0`: [`gradle.properties`](https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/5.6.11.0/gradle.properties#L3)
- `5.6.10.0`: [`gradle.properties`](https://github.com/vvanholl/elasticsearch-

[2019-01-16 14:32] lukas-vlcek commented on #152
@vvanholl Actually, we should be able to move mismatching 5.x tags to correct commits in 5.x branch, is that correct? That will address both the problems above and also will make the script for branching working correctly again. WDYT?

[2019-01-16 15:42] richm commented on #152
It is usually a very bad idea to move and re-publish tags which have already been published.  But in this case, it might be justified.

[2019-01-16 18:09] lukas-vlcek commented on #152
@richm Exactly.

[2019-01-17 14:59] lukas-vlcek commented on #152
I've been reading about `git tag` in man and there is [discussion section on re-tagging](https://git-scm.com/docs/git-tag#_on_re_tagging). I suggest to follow the _sane thing_ approach; ie. 1) add few new tags, 2) document the issue for users.

For example there is tag `5.6.13.1` which is pointing to commit in master branch (which is not correct because it is ES 6.x code) so we create a **new tag

[2019-01-21 10:07] lukas-vlcek opened #153 "gradle 5.1.1 support"
Elasticsearch [upgraded to gradle 5.1.1](https://github.com/elastic/elasticsearch/pull/37410)
Plugin code does not work with this version of gradle yet (still it works fine with gradle 4.10.3):
[code]
`gradle clean --stacktrace` reveals some details:
[code]

[2019-01-22 12:08] lukas-vlcek opened #154 "Cluster setting integration test needs better cleanup"
As of writing there are two files used by integration tests to test cluster settings:
- [40_10_cluster_settings_disk_threshold.yml](https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/aad9723a91848a12e1638799247b8c0a984327f9/src/test/resources/rest-api-spec/test/resthandler/40_10_cluster_settings_disk_threshold.yml)
- [40_20_cluster_settings_disk_watermark_bytes.yml](https://github.

[2019-01-24 11:40] pkaramol opened #157 "Reported memory used inconsistent"
We have installed the plugin in our cluster running `elasticsearch 6.4.2`

However there seems to be an inconsistency between the metrics reported by the plugin and the actual system metrics.

e.g. it indicates an ~99% mem usage, which does not seem to be the case.

this is from one of our `data` nodes in the cluster:

[code]

[2019-01-29 15:17] atorok commented on #153
Gradle `5.0` broke this version of build tools, so I'm afraid you will have to continue using Gradle `4.10` fir this version. We switched to Gradle `5.1.1` with `6.6` so it will start working again with that version.

[2019-01-29 15:42] lukas-vlcek commented on #153
@atorok Thanks for the info.

[2019-01-30 21:41] nikolay opened #158 "Elastic v6.60 is now available"
@vvanholl @lukas-vlcek Please, release compatible artifacts! Thanks in advance!

[2019-01-31 21:53] accorvin opened #159 "Possible to dynamically update the prometheus.indices setting"
Per the documentation for this plugin, I'd like to disable fetching per-index settings by setting `prometheus.indices: false`.

Is it possible to adjust this setting without requiring a restart of the Elasticsearch nodes?

[2019-02-01 18:48] nikolay commented on #158
Any luck @vvanholl and @lukas-vlcek?

[2019-02-04 21:22] vvanholl commented on #158
Hi @nikolay,

I was bit busy this past days.

I have taken a look of changes with ES 6.6. For the moment there are many code breaking changes that make the plugin impossible to build today.

The problem is that I am not a java developer and this could take a time I could not estimate. Maybe @lukas-vlcek could help me ?

Vincent

[2019-02-05 04:42] lukas-vlcek commented on #158
Let me have a look...

[2019-02-06 06:21] #154 closed

[2019-02-06 07:44] lukas-vlcek commented on #159
Not at this moment, but I was looking into the code and it should be doable to make all `prometheus.*` settings [dynamic](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/cluster-update-settings.html). I think this can be useful feature. I am working on PR.

[2019-02-06 20:58] vvanholl commented on #158
First changes I noticed :
Gradle 5.x is now required.

Compiled failed also
`> Task :compileJava FAILED
/Users/vincent/git/elasticsearch-prometheus-exporter/src/main/java/org/elasticsearch/action/NodePrometheusMetricsAction.java:34: warning: [deprecation] newResponse() in GenericAction has been deprecated
    public NodePrometheusMetricsResponse newResponse() {

[2019-02-06 21:34] lukas-vlcek commented on #158
@vvanholl probably related to https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/153#issuecomment-458578319

[2019-02-06 22:01] vvanholl commented on #158
I have a first version that builds with no error and pass integration tests successfully.
Tomorrow I will test more the plugin

[2019-02-11 14:27] fx35 commented on #158
Hi @vvanholl,
any updates about the plugin for version v.6.6.0? Can you make a branch so we can build and test it too? Thank you.

[2019-02-11 20:49] vvanholl commented on #158
a PR has been opened : https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/161

[2019-02-19 14:14] lukas-vlcek commented on #153
I am going to close this ticket now.

Just for the track record: Starting with ES 6.6 (see https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/161) we need to switch to Gradle 5.1.1 (or higher) from 4.10.3.

[2019-02-19 14:14] #153 closed

[2019-02-19 14:17] lukas-vlcek commented on #58
This issue has been fixed quite some time ago. There no longer any blocking calls on transport thread.

[2019-02-19 14:17] #58 closed

[2019-02-20 09:03] lukas-vlcek opened #163 "Expose cluster-wide shard limit metric"
Starting with ES 6.5 there is new limits for number of shards per ES node. We need to expose this via metrics.

Commit: https://github.com/elastic/elasticsearch/pull/34021
Docs for 6.5: [reference/6.5/misc-cluster.html#cluster-shard-limit](https://www.elastic.co/guide/en/elasticsearch/reference/6.5/misc-cluster.html#cluster-shard-limit)
Docs for 7.x: [reference/7.x/misc-cluster.html#cluster-shard-

[2019-02-21 08:50] nikolay commented on #158
@vvanholl @lukas-vlcek By the way, meanwhile, v6.6.1 got released as well.

[2019-02-21 20:10] nikolay opened #164 "Elastic v6.6.1 is now available"
@vvanholl @lukas-vlcek Please released compatible artifacts. Big thanks in advance!

[2019-02-21 20:49] vvanholl commented on #158
Version 6.6.0.0 released

[2019-02-21 20:49] #158 closed

[2019-02-21 20:49] vvanholl commented on #164
PR open #165

[2019-02-22 20:56] nikolay commented on #164
Thank you, @lukas-vlcek and @vvanholl, but there are no v6.6.1 artifacts in the releases.

[2019-02-23 06:30] lukas-vlcek commented on #164
Right, this was just upgrade to new ES version, no release yet, but I guess it will follow quickly.

[2019-02-23 08:02] vvanholl commented on #164
Just released now

[2019-02-23 08:02] #164 closed

[2019-02-23 10:05] nikolay commented on #164
Thank you, @vvanholl and @lukas-vlcek!

[2019-02-25 16:11] richm commented on #147
Is there a way to get an access log like the apache access log?  Something that lists - incoming IP; URL requested; result code

The last one is really important - it would be nice to export statistics like number of 400 response codes, number of 401, number of 403, number of 404, number of 429, etc. etc.

[2019-03-08 03:32] IronManZ commented on #114
I would like to see the path '/_prometheus.metrics' to be configurable. The existing infrastructure in my company use fixed path such as `/monitor/metrics`, and they cannot change it.

[2019-03-13 20:20] davidkarlsen opened #167 "6.6.2 support"
Support ES 6.6.2

[2019-03-14 20:37] #159 closed

[2019-03-14 20:58] vvanholl commented on #167
PR https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/168 has just been opened for this purpose

[2019-03-15 07:48] langruixiang opened #169 "What is the code for cluster status?"
I'm a new user and confused with the code for cluster status.

green -> ?
yellow -> ?
red -> ?

[2019-03-15 08:03] lukas-vlcek commented on #169
0 = Green
1 = Yellow
2 = Red

It should be clearly documented. I will fix that... thanks for feedback.

[2019-03-15 08:03] #169 closed

[2019-03-15 08:05] lukas-vlcek opened #170 "Document health status codes"
For users that do not use provided Grafana dashboards the health status codes may not be obvious. See https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/169
We need to document it.

[2019-03-15 14:19] lukas-vlcek commented on #167
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.6.2.0
I think we can close this one, right?

[2019-03-15 14:19] #167 closed

[2019-03-15 20:16] yehaolan commented on #114
Configurable path is good. Since currently is not configurable, deploying Nginx to redirect `/metrics` . to `/_prometheus.metrics` might be a good option for you so far. @IronManZ

[2019-03-21 14:26] lukas-vlcek opened #171 "Upgrade Prometheus libraries to 0.6.0"
It seems we can upgrade to 0.6.0, see https://github.com/prometheus/client_java/releases/tag/parent-0.6.0

[2019-03-24 18:27] davidkarlsen opened #172 "slow reporting of metrics"
Our datanodes use quite a lot of time to report the metrics:
[code]
can something be done to speed this up? They have a fair amount of indexes though.

[2019-03-24 18:51] lukas-vlcek commented on #172
That is 21 seconds?
Which version of plugin?

There are couple of calls done internally and they are done in sequential order - the second call is initiated only after the first one is finished, etc... we could speed things up by running all calls in parallel, but that could put more load on the server and it might not help much if one of the calls take 90% of total time. This might be the case of

[2019-03-24 18:58] davidkarlsen commented on #172
@sastorsl can you fill in the details?

[2019-03-27 09:22] nikolay opened #173 "Elastic v6.7.0 is now available"
@vvanholl and @lukas-vlcek Please, release compatible artifacts! Thanks!

[2019-03-28 16:38] nikolay commented on #173
Any chance to have this done soon, @vvanholl and @lukas-vlcek?

[2019-03-28 23:25] praveenmak commented on #93
Hi @lukas-vlcek

Do you have a dashboard update? I am having problems too. Please let me know.

[2019-04-01 15:48] nikolay commented on #173
Take 3: @vvanholl and @lukas-vlcek, any chance to have this done soon?

[2019-04-01 22:37] lukas-vlcek commented on #173
Hey, I can hear you :-)
Let me look at this.

[2019-04-02 07:31] lukas-vlcek opened #174 "Elastic v5.6.16 was released"
https://github.com/elastic/elasticsearch/releases/tag/v5.6.16

Release notes are here: <https://www.elastic.co/guide/en/elasticsearch/reference/5.6/release-notes-5.6.16.html>

[2019-04-03 08:47] lukas-vlcek commented on #174
Also there was released 5.6.15 earlier. There is blog post about it <https://www.elastic.co/blog/elastic-stack-6-6-1-and-5-6-15-released>. It seems to be security fix only, see <https://www.elastic.co/guide/en/elasticsearch/reference/5.6/release-notes-5.6.15.html>.

[2019-04-04 08:46] Harish-Sridhar-kpn commented on #173
@lukas-vlcek I tried to download the plugin for version 6.7.0, it didn't work. I get FileNotFound error when i use the below url.
https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-6.7.0.0.zip
Am I looking at wrong path or is something changed?

[2019-04-04 08:56] lukas-vlcek commented on #173
@Harish-Sridhar-kpn It hasn't been released yet. There is a PR #175 that needs to be reviewed and merged by @vvanholl first. Only then the release will be available for download.
If you really need support for v6.7.0 right now then you can checkout the `release_v6.7.0` branch and build the plugin yourself.

[2019-04-04 15:50] nikolay commented on #173
@lukas-vlcek Honestly, I'm working on having all builds done with my Elasticsearch Docker image as if there are security updates, we will be held hostage by your release cycle. Why don't you create a friendly fork, which doesn't have all this AWS publishing, and other stuff, but puts release artifacts just in GitHub like 99% of us use them?

[2019-04-04 16:03] nikolay commented on #173
@lukas-vlcek @vvanholl By the way, v6.7.1 got released, too!

[2019-04-04 19:40] #173 closed

[2019-04-04 20:18] #171 closed

[2019-04-10 18:25] nikolay opened #179 "Elastic v7.0.0 is now available"
@lukas-vlcek @vvanholl Please, release compatible artifacts! Huge thanks in advance! 🙇

[2019-04-11 13:36] lukas-vlcek commented on #179
I have one request before 6.x branch is created. It is **very important** for us (and I do not think it is just us at Red Hat) that we get 6.x release tags assigned correctly after first 7.x is released.

There is a bug with 5.x branch where [every new release of 5.x has incorrectly assigned release tags](#152) and it makes building of our final production packages with this plugin more complicate

[2019-04-22 08:41] nikolay commented on #179
@lukas-vlcek So, I guess, this is not happening soon?

[2019-04-22 13:33] lukas-vlcek commented on #179
I have no idea. PR is there waiting for merge, I can not release it myself.

[2019-04-23 07:44] nikolay commented on #179
@lukas-vlcek That's why I suggested a friendly fork so that we can install your version as you seem way more committed.

[2019-04-23 08:41] lukas-vlcek commented on #179
Instead of fork I would prefer making it possible for more people to do official releases. I.e. opening the release process.

[2019-04-24 12:05] lukas-vlcek commented on #179
Actually, it seems I have enough privileges to draft and publish new releases at https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/new repo and I am able to create a new branches as well.

So technically I can go and do new releases in this repo myself, the only thing would be that the download URL for new releases would change from:
- <https://distfiles.compuscene.net/elastic

[2019-04-25 12:30] kchaitu4 opened #181 "Stopped working"
The exporter suddenly stopped working and I do not see any errors in the ELK Logs. I am able to curl to my ELK servers with the below url, but doesn't scrape any values.

Please advice how to fix...Even Grafana has stopped loading the data.

[2019-04-25 13:17] lukas-vlcek commented on #181
Which version of Elasticsearch and Prometheus plugin?
What happens when you curl the `_prometheus/metrics` endpoint? Does it timeout or do you get any error code? Can you see anything in Elasticsearch log at that time?
Last but not least, how many indices does your cluster have?

[2019-04-25 13:34] kchaitu4 commented on #181
Version is 6.5.4.0
when I run https://<url>_prometheus/metrics I get page cannot be reached.
Last reference about this plugin was... when ELK got restarted (manually) a couple of days back, but it stopped working just few hours before.
Currently we have only 38 indices.

[2019-04-25 13:48] lukas-vlcek commented on #181
Are you able to list installed plugins in ES cluster? For example you can use [_cat/plugins](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/cat-plugins.html) like:
[code]

[2019-04-25 13:58] kchaitu4 commented on #181
i get authorization required message. I think this is expected.

[2019-04-25 14:14] lukas-vlcek commented on #181
Yes, that is expected if ES runs on https. But you can pass credentials to curl.
If you can verify which plugins are installed in ES at this moment then this would be great. If not then it might be very hard to help you with this issue.

[2019-04-25 14:20] kchaitu4 commented on #181
i get {"statusCode":404,"error":"Not Found","message":"Not Found"}

[2019-04-25 15:04] kchaitu4 commented on #181
I found the issue....Its a human error. In Prometheus config the port was removed by my teammate assuming it was a different server.

I am So Very sorry for bothering you.
Thanks for your time.

[2019-04-25 15:04] #181 closed

[2019-04-25 15:09] lukas-vlcek commented on #181
You are welcome.

[2019-05-02 17:30] davidkarlsen opened #183 "Elastic v7.0.1 is now available"

[2019-05-02 17:30] davidkarlsen opened #184 "Elastic v6.7.2 is now available"

[2019-05-06 06:28] agaengel commented on #179
Is it possible to release the version in the near future?

[2019-05-07 06:54] #179 closed

[2019-05-08 08:40] cristi-maco commented on #183
Could we please have a release/build for this version too?..

[2019-05-08 14:26] vvanholl commented on #183
PR https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/185 is new open

[2019-05-08 16:18] lukas-vlcek commented on #184
Please, @vvanholl can you remove your release https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.7.2.0 and do it really against 6.x branch commits and stop doing it against master branch that has been upgraded to ES 7.x

Sorry for strong words but I will not be able to participate in this if you keep doing releases on wrong commits.

[2019-05-08 16:53] vvanholl commented on #184
You are right. I have forgotten this bug that miss releases and tags againt master branch

So I have removed this release

I have to fix that also !

Sorry for the inconvenience :(

[2019-05-08 16:57] lukas-vlcek commented on #184
Also remove the tag and force push it again. I think it is ok in this case to change (for once) public history of git repo.

[2019-05-08 17:10] vvanholl commented on #184
Release and tags have been both removed from GitHub.

[2019-05-08 17:10] vvanholl commented on #184
I am trying now to fix that

[2019-05-13 20:34] vvanholl commented on #184
6.7.2.0 has been released. @lukas-vlcek can you check this is OK now ?

[2019-05-14 11:22] vvanholl commented on #183
This is now released

[2019-05-14 11:22] #183 closed

[2019-05-14 11:22] #174 closed

[2019-05-14 11:23] #141 closed

[2019-05-14 11:26] vvanholl commented on #184
To resume my last actions
- Old Jenkins release process has been removed
- I do not longer push artifacts in a private repository
- I fixed the issue when releasing from another branch than master
- Releasing is now part of the GitLab pipeline
- There's now no hidden part, all is described in the repository (except my tokens)

[2019-05-20 15:57] nikolay opened #189 "Elastic v6.8.0 and v7.1.0 are now available"
@vvanholl and @lukas-vlcek Please, release compatible artifacts! Thanks in advance!

[2019-05-21 13:08] lukas-vlcek commented on #189
For ES 7.1.0 support, see #190

[2019-05-21 13:25] lukas-vlcek commented on #139
I am going to close this ticket. Managing that many branches would be a big pain. We are going to maintain branches for the major ES releases (`6.x`, `5.x`, ...) now. If there is, however, a need to release a fix or upgrade for older release we will handle that individually case by case.

Feedback welcome! We can re-open this ticket again if there is a need.

[2019-05-21 13:25] #139 closed

[2019-05-21 13:54] lukas-vlcek commented on #137
Verified, parenthesis are not breaking individual integration tests for ES 7.x any longer (`master` branch as of writing).

Running tests like the following is ok:
[code]
Based on @nik9000 comment above this should be also fixed for ES 6.x.
Closing as WONTFIX for now.

[2019-05-21 13:54] #137 closed

[2019-05-22 14:59] nikolay commented on #189
@lukas-vlcek Please, consider my request to have your own releases!

[2019-05-22 19:25] vvanholl commented on #189
@nikolay @lukas-vlcek Please understand sometimes I am not very active on the repository flife since I do it on my spare time.

[2019-05-22 20:11] nikolay commented on #189
I understand totally. Then you should delegate some of the work to @lukas-vlcek, who has earned his reputation in here already!

[2019-05-23 09:01] lukas-vlcek commented on #189
@nikolay I think we should try to bring more long term contributors here instead. Every important commit needs review from at least 1 [CODEOWNER](https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/master/.github/CODEOWNERS) (depending on how @vvanholl sets this up, but I think 1 review from this list is the minimum). And given that ATM there are just two of them then if I do the co

[2019-05-23 19:24] vvanholl commented on #189
@lukas-vlcek I am agree. We always need someone who review the code from another contributor.

This ensures the code to reach a better quality.

And of course contributors are welcome ! :)

[2019-05-23 19:24] #184 closed

[2019-05-24 10:33] lukas-vlcek commented on #189
Releases are available here: [6.8.0.0](https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.0.0), [7.1.0.0](https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/7.1.0.0).  🎉

[2019-05-24 10:33] #189 closed

[2019-05-29 16:09] nikolay opened #194 "Elastic v7.1.1 is now available"
@vvanholl @lukas-vlcek Please, release compatible artifacts! Thanks!

[2019-05-31 08:51] Nilubkal commented on #194
HI,
 seems that there is a problem with the archive provided by the official elasticsearch docker repo:

-> Downloading https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-7.1.1.0.zip
Exception in thread "main" java.io.FileNotFoundException: https://distfiles.compuscene.net/elasticsearch/elasticsearch-prometheus-exporter-7.1.1.0.zip
	at java.base/sun.net.www.protocol.h

[2019-05-31 08:56] lukas-vlcek commented on #194
Support for v7.1.1 hasn't been released yet. Give it a few days please.

[2019-05-31 09:12] Nilubkal commented on #194
That's fine. Thanks !

[2019-05-31 11:33] lukas-vlcek commented on #194
PR: https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/195

[2019-06-04 18:40] vvanholl commented on #194
PR is now merged and a release is coming soon.

[2019-06-04 18:41] vvanholl commented on #194
@Nilubkal I encourage you to use now Github as download source as described in README.md file.

[2019-06-13 19:41] #194 closed

[2019-06-26 00:32] nikolay opened #198 "Elastic v7.2.0 is now available"
@vvanholl @lukas-vlcek Please, release compatible artifacts! Thanks!

[2019-07-01 14:25] kbecic commented on #198
Opened PR in #199

[2019-07-04 10:36] chentaichuang commented on #157
total 92
-rw-r--r-- 1 elk elk 87192 Jul  3 13:18 elasticsearch-prometheus-exporter-6.4.2.0.zip
[elk@csx-dev-redis-monitor plugins]$ sh /elk/elasticsearch/bin/elasticsearch-plugin install file:///elk/elasticsearch/plugins/elasticsearch-prometheus-exporter-6.4.2.0.zip

-> Downloading file:///elk/elasticsearch/plugins/elasticsearch-prometheus-exporter-6.4.2.0.zip
[====================================

[2019-07-05 04:22] lukas-vlcek commented on #157
@chentaichuang Please do not mix topics in single ticket.

Where did you download the plugin from? The exception is about missing plugin description file. When I download official release I can see the description file is included.
[code]

[2019-07-05 05:26] chentaichuang commented on #157
Thank you very much for your reply!

At present, my problem has arrived, which is due to my installation mode. According to the installation mode on GitHub, it can be installed.

Example:

Install
Since Elasticsearch 7.0.0 : ./bin/elasticsearch-plugin install -b https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/7.1.1.0/prometheus-exporter-7.1.1.0.zip

Since Elasticsea

[2019-07-07 16:12] lukas-vlcek commented on #157
Please [open a new ticket](https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/new) for this. Thanks for understanding.

[2019-07-07 16:12] #157 closed

[2019-07-09 07:22] bjorntj commented on #198
Any info about when this PR is going be released?

[2019-07-10 06:48] bjorntj commented on #198
I see that the PR is nearly there.. :)

[2019-07-12 12:12] lukas-vlcek commented on #198
Please update the PR it is looking promising.
Once we do release we should point to [stability description](https://github.com/elastic/elasticsearch/pull/38413) feature that were introduced in ES 7.2.0.

[2019-07-25 10:32] lukas-vlcek opened #201 "Support for ES 6.8.1"
See Elasticsearch 6.8.1 release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.1.html

[2019-07-25 10:34] lukas-vlcek commented on #198
Release for ES 7.2.0 is available:
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/7.2.0.0

[2019-07-25 10:34] #198 closed

[2019-07-31 14:52] lukas-vlcek opened #202 "Release for ES 7.3.0"
ES 7.3.0 release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.3/release-notes-7.3.0.html

[2019-07-31 14:55] lukas-vlcek opened #203 "Release for ES 7.2.1"
ES 7.2.1 release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.3/release-notes-7.2.1.html

[2019-07-31 22:10] donbowman opened #204 "when using basic auth, what is the min role/permissions needed?"
its not obvious how to use this w/ basic auth with a minimum set of permissions.

[2019-08-01 11:59] lukas-vlcek commented on #204
This Prometheus plugin is orthogonal to authentication/authorization. It basically adds a new REST endpoint to Elasticsearch HTTP API and access to this endpoint is controlled by security system used for Elasticsearch.
So for example you can use [SearchGuard](https://search-guard.com/) to setup and control access to ES REST endpoints. Or you can setup external proxy to control access to ES.
I do n

[2019-08-01 13:11] donbowman commented on #204
i am using w/ the new [cloud-on-k8s](https://github.com/elastic/cloud-on-k8s/) operator.
basic auth is now mandatory (its x-pack)

from experimentation i found that kibana_user works, but remote_monitoring_collector will not.
but i'm not sure what the minimal set is.

[2019-08-01 20:49] lukas-vlcek commented on #204
You need to use (or create a new) role that can access `cluster:monitor/prometheus/metrics` resource.

This is the relevant line in the source code of this plugin where the resource is named:
https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/master/src/main/java/org/elasticsearch/action/NodePrometheusMetricsAction.java#L26

When used with SearchGuard you can define the following:

[2019-08-02 21:29] coddy opened #205 "Support for ES 6.8.2"
See Elasticsearch 6.8.2 release notes:
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.2.html
=)

[2019-08-11 22:21] foxdalas commented on #203
https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/207

[2019-08-13 11:27] lukas-vlcek commented on #205
Release is available here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.2.0

[2019-08-13 11:27] #205 closed

[2019-08-13 11:28] lukas-vlcek commented on #203
Release is available here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/7.2.1.0

[2019-08-13 11:28] #203 closed

[2019-08-13 11:28] lukas-vlcek commented on #201
Release is available here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.1.0

[2019-08-13 11:28] #201 closed

[2019-08-23 10:50] lukas-vlcek opened #211 "Release for ES 7.3.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.3/release-notes-7.3.1.html

[2019-08-27 10:31] lukas-vlcek opened #212 "Update compatibility matrix on master"
The [compatibility matrix](https://github.com/vvanholl/elasticsearch-prometheus-exporter#compatibility-matrix) on `master` branch does not list all the available 6.x releases. Namely, it is missing 6.8.1 and 6.8.2.

[2019-08-28 15:54] lukas-vlcek opened #213 "Get version of build tools from property"
Currently, we use hardcoded version of `org.elasticsearch.gradle:build-tools` that is used by esplugin. This is unnecessary and error prone.
https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/69ddb1a812da2fb41db2af76d4ba016e14ca8b2d/build.gradle#L11

Get the value from gradle.properties file instead.

[2019-09-08 18:39] lazyusername opened #215 "Release for ES 6.8.3"
Hello,
it would be nice to have plugin released for new ES v6.8.3: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.3.html

Thx for great work!

[2019-09-17 20:01] vvanholl commented on #215
It's now done

[2019-09-17 20:01] #215 closed

[2019-09-17 20:01] vvanholl commented on #212
It has been updated today

[2019-09-17 20:01] #212 closed

[2019-09-18 09:11] bjorntj commented on #211
ES 7.3.2 is released, will the plugin version 7.3.0 work with ES 7.3.2?

[2019-09-18 09:18] lukas-vlcek commented on #211
Elasticsearch requires each plugin to be released against specific version of Elasticsearch.
This means there needs to be release of the plugin for 7.3.0, 7.3.1, 7.3.2 ... etc...
Usually, releasing a new plugin is straightforward process. But sometimes it can take longer is the ES API is changed (and this happens).

[2019-09-18 09:18] bjorntj commented on #211
ok guess I have to wait then... :)

[2019-09-18 10:10] lukas-vlcek commented on #211
@bjorntj PRs are always welcome. It is usually not technically difficult to contribute new release.
I started working on documenting process of preparation of new release but it is not published yet.

[2019-09-18 10:36] bjorntj commented on #211
Ok... Never done any prometheus exporter coding but when you have the documentation ready, I will have a look.. :)

[2019-10-04 10:39] lukas-vlcek opened #222 "Release for ES 7.4.0."
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.4/release-notes-7.4.0.html

[2019-10-04 10:41] lukas-vlcek opened #223 "Release for ES 7.3.2"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.3/release-notes-7.3.2.html

[2019-10-04 10:42] lukas-vlcek commented on #202
Closed by https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/220

[2019-10-04 10:42] #202 closed

[2019-10-05 08:22] lukas-vlcek commented on #211
Release: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/7.3.1.0

[2019-10-05 08:22] #211 closed

[2019-10-07 09:51] lukas-vlcek commented on #223
Closed by https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/224

[2019-10-07 09:51] #223 closed

[2019-10-07 10:20] lukas-vlcek commented on #222
@vvanholl notice Elasticsearch v7.4.0 requires Gradle 5.6.2+

[2019-10-07 20:03] vvanholl commented on #222
@lukas-vlcek This is not the only point.

There are many breaking changes I noticed last days like this commit
https://github.com/elastic/elasticsearch/commit/7895dc9915422a33bb6814ec420c3b068aef4410#diff-5a9a7882cd6a84c92df9fe0e112f6808

For the moment I don't know how to deal with that and I probably need some help.

[2019-10-07 22:23] lukas-vlcek commented on #222
Yes, there are breaking changes. I was looking at this today. I think I can nail it soon.

[2019-10-18 17:19] fpytloun commented on #222
Hello, do you have any update regarding support for ES 7.4.0?

[2019-10-21 12:22] lukas-vlcek commented on #222
I will get to this this week. Thanks for patience.

[2019-10-29 20:55] lazyusername opened #226 "Release for ES 7.4.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.4/release-notes-7.4.1.html

[2019-10-29 23:12] lazyusername opened #227 "Release for ES 6.8.4"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.4.html

[2019-11-08 09:02] lazyusername commented on #227
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.4.0

thx guys.

[2019-11-08 09:02] #227 closed

[2019-11-08 22:02] lazyusername opened #229 "Release for ES 7.4.2"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.4/release-notes-7.4.2.html

[2019-11-11 21:54] benjaminjb commented on #98
Oh, thanks for this, but just out of curiosity, would a count of read_only_indices be a pain to implement?

[2019-11-11 22:08] benjaminjb opened #230 "Export number of read_only_indices"
I'm interested in getting a count of read_only indices in my ES as we get over the flood stage ( https://www.elastic.co/guide/en/elasticsearch/reference/master/disk-allocator.html ). This stat doesn't seem to be exported here, and I was just curious if there was a reason why or if you would welcome a PR for that?

[2019-11-12 09:31] lukas-vlcek commented on #230
PRs are always welcome 😃
Which API exposes the info about index being in read_only mode?

[2019-11-12 09:32] lukas-vlcek commented on #98
for the record see #230

[2019-11-17 02:46] lazyusername commented on #113
I am not sure about the metric `es_cluster_status` but it would be definitely useful to have ES version in a label somewhere.

[2019-11-21 10:16] lukas-vlcek opened #231 "Wishing you peace and joy in 2020"
![Holiday_Card-Red_Hat-ENG-A-RGB](https://user-images.githubusercontent.com/205174/69328866-4dc69b80-0c50-11ea-806a-3e43a2aed6b3.png)

Closes #144

[2019-11-21 10:16] lukas-vlcek commented on #144
Closed by #231 231

[2019-11-21 10:16] #144 closed

[2019-11-23 02:09] lazyusername opened #232 "Release for ES 6.8.5"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.5.html

[2019-11-27 21:15] agaengel commented on #222
Hi @lukas-vlcek,

any news about the update?

Regards
Alex

[2019-11-27 22:57] lukas-vlcek commented on #222
Sorry for the delay. I was quite busy lately. I know there are users waiting for it. I am getting to it.

[2019-12-02 23:49] jamshid commented on #229
https://www.elastic.co/guide/en/elasticsearch/reference/7.5/release-notes-7.5.0.html

[2019-12-03 07:10] lukas-vlcek commented on #229
@jamshid Please open a new ticket for 7.5.0 release.

[2019-12-03 10:30] agaengel opened #234 "Release for ES 7.5.0"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.5/release-notes-7.5.0.html

[2019-12-04 20:44] Battleroid commented on #230
Looking at this a bit. Looks like `GetSettingsReponse` would provide it?

Would have to supply the request portion with the correct `IndiciesOptions` so that wildcards for `_all` work and such, and use the option that ignores unavailable indices.

https://github.com/elastic/elasticsearch/blob/v7.5.0/server/src/main/java/org/elasticsearch/action/admin/indices/settings/get/GetSettingsResponse.java

[2019-12-04 23:13] lazyusername commented on #232
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.5.0

thx

[2019-12-04 23:13] #232 closed

[2019-12-20 17:31] jamshid opened #236 "Release for ES 6.8.6"
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.6.html

[2019-12-20 17:34] jamshid commented on #234
Do you want a separate issue for 7.5.1?
https://www.elastic.co/guide/en/elasticsearch/reference/7.5/release-notes-7.5.1.html
IDK but if it helps seems fine to skip old point releases and aim to support latest minor release, since Elastic pushes out versions so quickly.

[2019-12-25 02:12] yjiu1990 opened #237 "Monitoring data is not accurate"
The CPU memory data in the server cannot correspond to the data called by the plug-in. Could you please tell me how to solve this problem

[2019-12-27 17:16] lazyusername opened #238 "Release for ES 7.5.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.5/release-notes-7.5.1.html

[2019-12-28 10:35] lukas-vlcek commented on #237
Sorry, I do not understand. Can you provide example?

[2019-12-30 02:11] yjiu1990 commented on #237
![image](https://user-images.githubusercontent.com/41354304/71565691-49fa2480-2aec-11ea-80e9-1b285974289c.png)
For example, if a machine has 2 gigabytes of memory, its free memory is free + buff/cache(195M+591M=786M), not free(195M), because some of its memory is cached in the buff/cache first

[2019-12-31 01:52] ftyuuu commented on #238
https://codeload.github.com/ftyuuu/elasticsearch-prometheus-exporter/zip/7.5.1.0

[2020-01-01 19:03] xtermi2 commented on #222
any progress here?

[2020-01-02 09:20] yjiu1990 opened #239 "May I ask if the 7.3.2 plug-in can be used for version 7.4 and 7.5?"

[2020-01-02 10:17] lukas-vlcek commented on #239
It can not. ES requires each plugin to be released for specific ES version only.
See `elasticsearch.version` in https://www.elastic.co/guide/en/elasticsearch/plugins/7.4/plugin-authors.html#_plugin_descriptor_file

[2020-01-02 10:17] #239 closed

[2020-01-03 09:37] lukas-vlcek commented on #236
Release is available here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.6.0

[2020-01-03 09:37] #236 closed

[2020-01-03 09:42] lukas-vlcek opened #240 "Update list of ES 6.x releases in master"
The following two lists of ES 6.x releases are not in sync. The `master` branch needs update.
- `master`: https://github.com/vvanholl/elasticsearch-prometheus-exporter#version-6x
- `6.x`: https://github.com/vvanholl/elasticsearch-prometheus-exporter/tree/6.x#version-6x

[2020-01-03 15:22] lukas-vlcek commented on #222
I will be pushing PR today, stay tuned. There were some changes and I would like to give it some time for testing before we really cut a new release.

[2020-01-06 06:36] yjiu1990 opened #242 "May I ask when the version 7.4.2 will be released?"
Is there any plan to release the version after 7.3.2?

[2020-01-06 07:22] lukas-vlcek commented on #242
Yes, there is [waiting PR for 7.4.0](https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/241) release. Once this one is merged we can release rest of the 7.4.x and 7.5.x
There were some internal API changes in ES with 7.4.0 so it took longer to prepare the release than usual (and there were also the end year holidays).

[2020-01-06 09:00] yjiu1990 commented on #242
Look forward to your new release

[2020-01-06 16:00] lukas-vlcek commented on #237
Is this duplicate of https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/157 ?

[2020-01-07 01:38] yjiu1990 commented on #237
Yes，To put this into perspective, I found the source code of Elasticsearch, where the algorithm is total-free=used, which I don't think is reasonable

[2020-01-09 21:49] #222 closed

[2020-01-10 00:14] lazyusername commented on #242
@lukas-vlcek thx for great work!

[2020-01-10 16:33] lukas-vlcek commented on #240
@vvanholl I think this was added in d5c0f36 and can be closed now.

[2020-01-10 16:44] lukas-vlcek commented on #234
Started looking at this; let's keep reference to this issue for now: https://github.com/elastic/elasticsearch/issues/49787

[2020-01-10 16:52] lukas-vlcek commented on #226
Started working on this and I am running into the following issue. Not sure what that means. I will be diggin' deeper:

[code]

[2020-01-10 21:27] #240 closed

[2020-01-13 07:56] snailair opened #243 "Plugin [prometheus-exporter] was built for Elasticsearch version 6.8.0 but version 6.5.1 is running"
hi,when i install the plugin have a error message,Can you help me see it, thank you!
es 6.5.1
,Details are as follows

]$ ./bin/elasticsearch-plugin install -b https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/6.8.0.0/prometheus-exporter-6.8.0.0.zip
-> Downloading https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/6.8.0.0/prometheus-export

[2020-01-13 07:57] #243 closed

[2020-01-13 09:37] fpytloun commented on #222
@lukas-vlcek Thank you :-) Are you also going to release version for latest 7.4 version? (7.4.2)

[2020-01-13 10:04] lukas-vlcek commented on #222
@fpytloun Yes I am going to prepare PRs. Working on it now. Actually, I am running into some issues with gradle versions when building 7.4.1 and 7.4.2 so we may need to build and prepare new image versions here https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/master/.gitlab-ci.yml#L1 first.

Keep an eye on https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/226 a

[2020-01-13 10:43] lukas-vlcek commented on #226
This seem to be an issue with gradle. The following table sums up which gradle versions **do work** or **does not work** when building this plugin:

| gradle version | plugin 7.4.1 | plugin 7.4.2 |
| :---         |     :---:      |         :---: |
| 5.6.2 | ❌ | ✅  |
| 5.6.3 | ❌ | ✅  |
| 5.6.4 | ✅ | ❌ |
| 6.x (\*) |    n/a    |  n/a     |

(\*) Elastic switched to gradle 6.x only for v7.6 and v8.0.

[2020-01-13 11:01] lukas-vlcek commented on #226
Seems the only know workaround is to set `licenseHeaders.enabled = false`. Switching to newer gradle versions did not help. Let me investigate further...

[2020-01-13 13:21] lukas-vlcek commented on #226
Ok, the issue was in my local gradle cache. When switching from ES 7.4.0 to ES 7.4.1 something goes wrong with local deps cache (it is reproducible). Solution is to drop the cache (in my case `~/.gradle`) and have it download all the deps again.
Interestingly (but not surprisingly), when at this point I try to run `gradle check` on branch containing ES 7.4.0 code I run into this issue again. Anywa

[2020-01-13 19:38] #226 closed

[2020-01-14 07:52] lukas-vlcek commented on #229
Relese is here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/7.4.2.0

[2020-01-14 07:52] #229 closed

[2020-01-14 07:53] lukas-vlcek commented on #242
These releases are now found here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases

[2020-01-14 07:53] #242 closed

[2020-01-14 07:57] lukas-vlcek opened #246 "Upgrade Prometheus client version"
https://github.com/prometheus/client_java/releases

[2020-01-20 20:35] #234 closed

[2020-01-21 19:42] lazyusername opened #249 "Release for ES 7.5.2"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.5/release-notes-7.5.2.html

[2020-01-22 21:38] #238 closed

[2020-01-22 21:38] #246 closed

[2020-01-26 20:43] #249 closed

[2020-01-28 06:23] milonjames opened #251 "Document how to read the output value of 'es_cluster_status' metric"
We are getting an output of the Elasticsearch cluster health metric as a number, with no labels having key 'color'. In this situation, we are trying to understand how this number output maps to the well-known ES color codes which indicate the cluster health. Pasting below how we are getting the metric displayed in '/metrics' endpoint

\###################################
\# HELP es_cluster_status

[2020-01-28 09:05] lukas-vlcek commented on #251
Yes, it should be documented. This not the first time this question comes up, see https://github.com/vvanholl/elasticsearch-prometheus-exporter/issues/169

Generally, codes translate to names using the following formula: https://github.com/elastic/elasticsearch/blob/master/server/src/main/java/org/elasticsearch/cluster/health/ClusterHealthStatus.java#L30-L32

Closing as this is duplicate of https:

[2020-01-28 09:05] #251 closed

[2020-01-28 09:10] milonjames commented on #251
Thankyou @lukas-vlcek , now I know 💐.

[2020-01-28 09:14] lukas-vlcek commented on #251
@milonjames PRs are always welcome :-)

[2020-02-07 10:26] tonymadbrain commented on #204
Minimal role for x-pack will be like:
[code]

[2020-02-07 11:55] lukas-vlcek commented on #204
@tonymadbrain I would expect that cluster role `cluster:monitor/prometheus/metrics` should work with x-pack too.

[2020-02-07 12:01] tonymadbrain commented on #204
@lukas-vlcek nope, this is not enough, I just tested with 7.5.2

[2020-02-07 12:20] lukas-vlcek commented on #204
Good to know. We shall add integration test that includes x-pack to automatically cover this integration use case.

[2020-02-11 17:26] lazyusername opened #252 "Release for ES 7.6.0"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.6/release-notes-7.6.0.html

[2020-02-22 07:20] #252 closed

[2020-03-04 18:03] lazyusername opened #254 "Release for ES 6.8.7"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.7.html

[2020-03-04 18:04] lazyusername opened #255 "Release for ES 7.6.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.6/release-notes-7.6.1.html

[2020-03-05 12:25] lukas-vlcek opened #256 "Install instruction incorrect for 5.6.16"
README file gives the following install instructions for 5.x version:

[code]
This results in
[code]
Root cause is the URL is invalid. Correct URL should be:
[code]

[2020-03-13 09:08] olgakorichkovskaya commented on #255
Error message:
"Plugin [prometheus-exporter] was built for Elasticsearch version 7.6.0 but version 7.6.1 is running"

[2020-03-13 09:40] lukas-vlcek commented on #255
@olgakorichkovskaya There is no release for 7.6.1 at the moment. PR is being worked on here https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/257

[2020-03-13 09:42] lukas-vlcek commented on #254
Release: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.7.0

[2020-03-13 09:42] #254 closed

[2020-03-15 18:33] cihantunali opened #258 "Integration issue"
Hello,
After installing exporter, i can see the metrics from Elasticsearch, but when i try to add it to prometheus, it could not get data. Im using PMM 2.3.0. Can you help me for the last step? Thanks.

![image](https://user-images.githubusercontent.com/52137019/76707961-69284b80-6704-11ea-93d3-7e8ab096ce03.png)

[2020-03-18 14:28] cihantunali commented on #258
Solved.

https://www.percona.com/forums/questions-discussions/percona-monitoring-and-management/55440-about-alerting

[2020-03-18 14:28] #258 closed

[2020-03-30 07:08] gianvitom commented on #255
Hello guys,
is there any progress for the 7.6.1 release?
I saw https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/257 was closed but no master updates.

PS. We need to do an elastic upgrade and this was our last dependency.

[2020-03-30 09:11] lukas-vlcek commented on #255
@gianvitom I have no idea why @foxdalas closed the PR.
As far as I can tell the 7.6.1 release hasn't been addressed yet. I would say we need to be more patient right now as many people are hit by pandemic in some way. :worried:

[2020-03-30 14:36] michael-kuss commented on #255
I am working on a new port based on the earlier one. I hope I can come back tomorrow with some progress. Keep you posted :)

[2020-03-30 14:43] michael-kuss commented on #255
#259 Hope this brings everyone forward :)

[2020-03-30 19:34] alice-sawatzky opened #260 "Snapshot metrics"
It would be really nice to have a metric for the start_time and end_time of the last snapshot, with labels for repository and status. Snapshots getting stuck can lead to a pretty dangerous situation if unnoticed for too long, and it would be great to be able to alert on it based on prometheus metrics!

since it would only collect stats on the latest snapshot of each status per repository, there sh

[2020-03-31 20:34] vvanholl commented on #255
7.6.1.0 has been released today

[2020-03-31 20:34] #255 closed

[2020-03-31 20:37] vvanholl opened #262 "Release 7.6.2"
This is a reminder for me and for all contributors, ES 7.6.2 has been released today.

Seeing the changelog (https://www.elastic.co/guide/en/elasticsearch/reference/7.6/release-notes-7.6.2.html), this is mainly a bugfix version.

[2020-04-01 15:03] lazyusername opened #263 "Release for ES 6.8.8"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.8.html

[2020-04-06 17:59] lazyusername commented on #263
Release: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.8.0

[2020-04-06 17:59] #263 closed

[2020-04-23 17:25] lukas-vlcek commented on #262
Release is available here: https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/7.6.2.0

[2020-04-23 17:25] #262 closed

[2020-05-01 16:06] Holyfiled opened #266 "slow reporting of metrics and the report file is very large."
[root@elk-01]# time curl localhost:9200/_prometheus/metrics > /dev/null
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 138M  100 138M    0     0  11.7M      0  **0:00:11  0:00:11** --:--:-- 36.3M
**real    0m10.530s**
user    0m0.040s
sys     0m0.313s
[root@elk-01]# curl localhost:920

[2020-05-13 14:35] lazyusername opened #267 "Release for ES 7.7.0"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.7/release-notes-7.7.0.html

[2020-05-13 14:59] lazyusername opened #268 "Release for ES 6.8.9"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.9.html

[2020-06-03 14:32] lukas-vlcek opened #271 "Release for 6.8.10"
https://github.com/elastic/elasticsearch/releases/tag/v6.8.10

[2020-06-03 14:32] lukas-vlcek commented on #268
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.9.0

[2020-06-03 14:32] #268 closed

[2020-06-03 14:33] lukas-vlcek commented on #267
https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/7.7.0.0

[2020-06-03 14:33] #267 closed

[2020-06-03 18:07] lazyusername opened #272 "Release for ES 7.7.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.7/release-notes-7.7.1.html

[2020-06-07 19:58] #85 closed

[2020-06-07 19:58] #91 closed

[2020-06-07 19:58] #93 closed

[2020-06-07 19:58] #97 closed

[2020-06-07 19:58] #105 closed

[2020-06-07 19:58] #110 closed

[2020-06-07 19:58] #111 closed

[2020-06-07 19:58] #113 closed

[2020-06-07 19:58] #114 closed

[2020-06-07 19:58] #147 closed

[2020-06-07 19:58] #151 closed

[2020-06-07 19:58] #152 closed

[2020-06-07 19:58] #163 closed

[2020-06-07 19:58] #170 closed

[2020-06-07 19:58] #172 closed

[2020-06-07 19:58] #204 closed

[2020-06-07 19:58] #230 closed

[2020-06-07 19:58] #231 closed

[2020-06-07 19:58] #237 closed

[2020-06-07 19:59] #13 closed

[2020-06-07 19:59] #14 closed

[2020-06-07 19:59] #18 closed

[2020-06-07 19:59] #19 closed

[2020-06-07 19:59] #33 closed

[2020-06-07 19:59] #36 closed

[2020-06-07 19:59] #60 closed

[2020-06-07 19:59] #68 closed

[2020-06-07 19:59] #75 closed

[2020-06-07 19:59] #81 closed

[2020-06-07 19:59] #256 closed

[2020-06-14 06:48] #272 closed

[2020-06-14 07:12] vvanholl commented on #271
I have released version 6.8.10.0 today : https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/tag/6.8.10.0

[2020-06-14 07:12] #271 closed

[2020-06-18 14:12] lazyusername opened #274 "Release for ES 7.8"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.8/release-notes-7.8.0.html

[2020-06-22 10:34] martbhell commented on #274
I tried to run `gradle check` for 7.8.0.0 and they failed with:

[code]

p.s.

Also currently in master and 7.7.0.0 there were some warning about the import order which I think I would need something like Eclipse to figure out.

These were not so easy fixes to figure out for as an almost complete JAVA novice. Didn't see anything major stand out in the 7.8.0 release notes about these errors.

[2020-06-22 19:42] vvanholl commented on #274
Hi @martbhell,

As you mentioned, there were some issues introduced with ES version 7.8.0. But this wasn't really difficult since changes on the codebase were pretty small.

If you're interested, you can check my PR here : https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/275

Vincent

[2020-06-22 19:42] #274 closed

[2020-06-23 02:15] martbhell commented on #274
They were not so complicated indeed!

Thanks :)

[2020-07-14 07:31] kishore0709 opened #276 "Not able to use 6.8.10 version plugin"
Hi Team,

I'm using ES 6.8.10 and planned to use this exporter plugin for collecting metrics.
But I'm getting below exception while installing it.
Could you please help to fix the issue. Thanks!

[root@xxxx:/etc]# /usr/share/elasticsearch/bin/elasticsearch-plugin install -b https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/6.8.10.0/prometheus-exporter-6.8.10.0.zip
->

[2020-07-14 09:23] lukas-vlcek commented on #276
Try again, github wqas experiencing technical difficulties yesterday, see https://twitter.com/githubstatus

[2020-07-14 09:23] #276 closed

[2020-07-14 13:15] kishore0709 commented on #276
@lukas-vlcek  I'm still experiencing the same issue.

[root@xxxx:~]# /usr/share/elasticsearch/bin/elasticsearch-plugin install -b https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/6.8.10.0/prometheus-exporter-6.8.10.0.zip
-> Downloading https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/6.8.10.0/prometheus-exporter-6.8.10.0.zip
Exception i

[2020-07-14 13:20] kishore0709 opened #277 "Not able to use 6.8.10 version plugin"
@lukas-vlcek  I'm still experiencing the same issue.
#276

[root@xxxx:~]# /usr/share/elasticsearch/bin/elasticsearch-plugin install -b https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/6.8.10.0/prometheus-exporter-6.8.10.0.zip
-> Downloading https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/6.8.10.0/prometheus-exporter-6.8.10.0.zip
Except

[2020-07-14 14:50] lukas-vlcek commented on #277
May be you are behind restrictive VPN?

I works for me
[code]
Are you able to download any other plugin version?

Try troubleshooting your DNS or network access, for example`$ nslookup github.com` or `$ dig github.com`.

Closing for now but feel free to get back if you are still having issues. Hopefully someone could help you troubleshooting this problem.

[2020-07-14 14:50] #277 closed

[2020-07-14 15:05] lukas-vlcek commented on #266
This can happen if you have a lot of indices (hundreds?).
You can disable detailed metrics per index by setting `prometheus.indices: false`.

[2020-07-27 14:56] lazyusername opened #279 "Release for ES 7.8.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.8/release-notes-7.8.1.html

[2020-07-27 14:56] lazyusername opened #280 "Release for ES 6.8.11"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.11.html

[2020-08-11 11:32] vvanholl commented on #279
Version 7.8.1.0 has been released today.

[2020-08-11 11:32] #279 closed

[2020-08-11 11:33] vvanholl commented on #280
Version 6.8.11.0 has been released today.

[2020-08-11 11:33] #280 closed

[2020-08-14 16:09] jgoeres opened #282 "Live update of export settings doesn't seem to work"
Hi,

I tried disabling the index and cluster setting metrics as described by sending a PUT request to
/_cluster/settings with this payload:

    {
      "transient" : {
        "prometheus.indices" : false,
        "prometheus.cluster.settings" : false
      }
    }
The request was acknowledges, but the metrics starting with es_cluster_* and es_index_* are still there.
What am I doing wrong here?

[2020-08-15 16:20] lukas-vlcek commented on #282
Hi,

which version do you use?

[2020-08-18 14:59] lazyusername opened #283 "Release for ES 6.8.12"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.12.html

[2020-08-18 15:01] lazyusername opened #284 "Release for ES 7.9.0"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.0.html

[2020-08-19 18:32] #284 closed

[2020-08-19 18:49] vvanholl commented on #283
Version 6.8.12.0 has been released today

[2020-08-19 18:49] #283 closed

[2020-08-20 15:11] jgoeres commented on #282
Hi,

I observed this on 7.7.0(.0) but have since updated to ES 7.8.1 and the exporter 7.8.1.0, and there it works as expected.

Regards
J

[2020-08-20 15:57] lukas-vlcek commented on #282
That is strange. IIRC we do not explicitly have a test to cover the case when ES node is started with disabled metrics but maybe this can be added now.
IIRC it was hard to figure out how to configure ES testing framework to start node with enabled metrics and then with disabled metrics, but that was some time ago, I hope things have improved since then and it should be possible to implement now.
I

[2020-08-20 15:57] #282 closed

[2020-09-03 17:55] lazyusername opened #286 "Release for ES 7.9.1"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.1.html

[2020-09-06 19:50] vvanholl commented on #286
Version 7.9.1.0 has been released today.

[2020-09-06 19:50] #286 closed

[2020-09-07 14:47] dobegor opened #287 "Incorrect es_os_cpu_percent after upgrade to 7.9.1"
We've just upgraded elasticsearch cluster and plugin to 7.9.1 and I've noticed that es_os_cpu_percent isn't correct anymore.
Both `top` tool and GKE report the same CPU usage (less than 10%) while the plugin exports unusually high CPU usage (~40%).

I don't know if that's related, but during upgrading ES cluster (we are using ECK) node names remained unchanged, but node IDs did change.

![image](h

[2020-09-07 14:56] dobegor commented on #287
![image](https://user-images.githubusercontent.com/14029650/92399639-4c108a80-f133-11ea-8069-55e3f6c43511.png)
Elasticsearch built-in self-monitoring also reports correct CPU usage.

[2020-09-07 18:48] lukas-vlcek commented on #287
@dobegor What formula is used to pull the data for the chart from Prometheus in the first chart?

[2020-09-08 08:36] dobegor commented on #287
@lukas-vlcek the default one provided by @vvanholl's dashboard.
`es_os_cpu_percent{cluster="$cluster", node=~"$node"}`
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/14029650/92452944-5b411800-f1c7-11ea-828c-7b2ebfd462c4.png">
GKE metrics:
<img width="1370" alt="image" src="https://user-images.githubusercontent.com/14029650/92453124-8e83a700-f1c7-11ea-9b06-01f87d985e4

[2020-09-17 13:15] alantang888 commented on #287
I have similar issue, using `7.8.0.0` with elasticsearch 7.8.0. `es_os_cpu_percent` on all data node is always on 100. But I check the node is only using around 35%. And `es_process_cpu_percent` also showing around 35%.

[2020-09-22 14:43] varun-krishna opened #288 "EOF error seen when Prometheus is to scrape metrics exported by the elasticsearch-prometheus-exporter"
Elasticsearch cluster is hosted on a VM instance (Google compute engine) .

I have installed the plugin as per the instructions and metrics are being emitted at path /_prometheus/metrics.

Registering elasticsearch as service with Consul . Hence, using consul_sd_config in job for prometheus config.
Prometheus config is as below

![image](https://user-images.githubusercontent.com/63715204/93896707-

[2020-09-24 17:53] zen opened #289 "[Question] Would it work for Elastic cloud"
Hi,

I tried to install the plugin for managed Elastic cloud. Installation through management console went without any issue, but when trying to fetch metrics, I'm getting following error:
[code]

[2020-09-24 18:44] lazyusername opened #290 "Release for ES 7.9.2"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.2.html

[2020-10-04 19:37] vvanholl commented on #290
Version 7.9.2.0 has been released today.

[2020-10-04 19:37] #290 closed

[2020-10-06 10:28] nicholasklem opened #291 "include `cluster.max_shards_per_node` in cluster settings?"
I need to monitor shard numbers against `cluster.max_shards_per_node`.
The metric is available under `defaults`, even though it has been adjusted:

[code]

Could you include this metric, and potentially others hidden under `defaults`?

[2020-10-06 20:11] metost opened #292 "[Question] Is there an easy way to rename the cluster label in the metrics?"
Is there an easy way that I can rename the `cluster` label in the metrics to something different - for example `es_cluster`?

[2020-10-07 13:37] metost commented on #292
I have solved this by doing relabelling during the prometheus scrape.

[2020-10-07 13:37] #292 closed

[2020-10-22 13:21] lazyusername opened #293 "Release for ES 6.8.13"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/6.8/release-notes-6.8.13.html

[2020-10-22 14:07] lazyusername opened #294 "Release for ES 7.9.3"
Release notes: https://www.elastic.co/guide/en/elasticsearch/reference/7.9/release-notes-7.9.3.html

[2020-10-29 08:28] chaitrahegde115 opened #295 "NullPointerException on /_prometheus/metrics with Elasticsearch 7.8.0"
Hi,
  I am using Elasticsearch 7.8.0 and elasticsearch-prometheus plugin 7.8.0.0.
I can see many warning logs in the Elasticsearch w.r.t NullPointerException. Below are the logs.
`"log":"path: /_prometheus/metrics, params: {}"
java.lang.NullPointerException: null
        at org.compuscene.metrics.prometheus.PrometheusMetricsCollector.updatePerIndexContextMetrics(PrometheusMetricsCollector.java:468

[2020-10-29 09:11] lukas-vlcek commented on #295
How large and busy is your cluster? Can this be because internal metric requests timeout? Do you see any timeout related logs in ES log?

[2020-11-02 12:42] chaitrahegde115 commented on #295
Hi,
The cluster is not too busy as I am running some automated test cases in pipeline.
I don't see any timeout related logs in ES.

[2020-11-02 20:48] vvanholl commented on #294
Version 7.9.3.0 has been released today.

[2020-11-02 20:48] #294 closed

[2020-11-02 20:48] vvanholl commented on #293
Version 6.8.13.0 has been released today.

[2020-11-02 20:48] #293 closed

[2020-11-06 05:41] chaitrahegde115 commented on #295
Hi,
  Is there any update?

[2020-12-01 12:05] Firm opened #298 "Unable to install 7.9.3 - missed plugin-descriptor.properties file"
(as root)
/usr/share/elasticsearch/bin/elasticsearch-plugin install -b https://github.com/vvanholl/elasticsearch-prometheus-exporter/archive/7.9.3.0.tar.gz
-> Installing https://github.com/vvanholl/elasticsearch-prometheus-exporter/archive/7.9.3.0.tar.gz
-> Downloading https://github.com/vvanholl/elasticsearch-prometheus-exporter/archive/7.9.3.0.tar.gz
-> Failed installing https://github.com/vvanh

[2020-12-04 16:24] Firm commented on #298
My bad, https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/7.9.3.0/prometheus-exporter-7.9.3.0.zip is the correct link.

[2020-12-04 16:24] #298 closed

[2020-12-11 18:02] lukas-vlcek commented on #287
Actually, I am getting it now too ...

[2020-12-11 19:22] lukas-vlcek commented on #287
Ok, I think this is related to cgroup stats, see `os.cgroup` namespace in:
https://www.elastic.co/guide/en/elasticsearch/reference/6.8/cluster-nodes-stats.html

[2020-12-16 13:01] IgorOhrimenko commented on #289
I had the same error, but `docker-compose restart` fixed it.

[2020-12-17 19:55] yangou opened #299 "Do we have a prometheus dashboard for this plugin or can we use any existing one?"

[2020-12-30 09:43] dobegor commented on #287
So what does that mean? Why crgroup stats are so different?

[2021-01-21 12:09] Quarky9 opened #300 "Version bump to 7.10.2"
Elastic released another bugfix release 7.10.2

[2021-01-21 16:12] lukas-vlcek commented on #287
Issue with very similar symptoms was reported in OpenJDK: https://github.com/AdoptOpenJDK/openjdk-support/issues/215
At this point I would recommend anyone hitting this error to check version of JVM they use and make sure it is **11.0.9 or later**.
It seems this can be a result of JVM bug: https://bugs.openjdk.java.net/browse/JDK-8248803

In any case, it you are hitting this error, please report y

[2021-02-13 06:45] jamshid commented on #299
Yeah wondering the same thing, is there a recommended dashboard for this (standard?) prometheus exporter plugin or a list of ones that work with it?
I use this one https://grafana.com/grafana/dashboards/266 looks like it's by same author as this plugin. But it hasn't been updated in four years?
I see a lot of "No data" in the dashboard with Elasticsearch 7.5.2, like the Document Index Rate panel.

[2021-02-18 17:12] metost opened #302 "not working on Open Distro for Elasticsearch"
Hi,

I'm trying to configure the prometheus export on Open Distro for Elasticsearch v7.10.2 - [https://opendistro.github.io/](https://opendistro.github.io/)

in the logs of the init container it seems that the plugin is installed without any issues
[code]

but when I try to open the metrics endpoint I'm getting this
[code]

Any idea why it's not working? Have someone tested it with  "Open Distro f

[2021-02-23 11:54] metost commented on #302
UPDATE:
It seems that there is a security plugin enabled by default in Open Distro for Elasticsearch.
After whitelisting the _prometheus/metrics url with
[code]

now I'm getting this error:
[code]

Any ideas? Thanks!

[2021-02-25 08:28] trexx commented on #302
@metost
That error is caused by a bug in Opendistro Security introduced in version 1.13.0.0 for Elasticsearch 7.10.2.
A pull request containing the fix was made here: https://github.com/opendistro-for-elasticsearch/security/pull/1048

You can pull in that change manually in to your installation, or downgrade until a new release is available.

[2021-02-25 13:42] metost commented on #302
@trexx
Thanks a lot! I'll wait for the next release.

[2021-03-04 15:53] Quarky9 commented on #300
Already done and more. Thx ;-)

[2021-03-04 15:53] #300 closed

[2021-03-16 17:27] mmcgarr opened #303 "Exposing metrics endpoint without requiring authentication"
With this plugin installed it seems I need to configure a username and password for prometheus to scrape metrics from elasticsearch. We generally don't conside prometheus metrics to be sensitive.

Is there a way to remove the need for basic auth on the metrics endpoint?

[2021-03-25 08:13] Sumit31 commented on #303
similar issue
i am getting this error on prometheus:
server returned HTTP status 401 Unauthorized

is there any way to provide basic auth

[2021-04-21 14:09] ben-charles opened #308 "Plan for supporting AWS OpenSearch"
How compatible will this plugin be with future versions of Elasticsearch and AWS OpenSearch? Will they both be supported?

[2021-04-21 14:17] lukas-vlcek commented on #308
IMO this plugin is fully community driven. Does this answer the question?

[2021-04-21 14:51] ben-charles commented on #308
That makes sense to me. I was mainly wondering if there was an official stance on this or not, since we will likely need separate releases for Elasticsearch/OpenSearch in the future.

[2021-04-21 16:29] lukas-vlcek commented on #308
It is really hard to say what the future holds here...

I can imagine it may become impossible to support both options if the code diverse. And it is not only about the compatibility of ES vs OS itself. It is also about relevant tooling, for instance this plugin rely on gradle esplugin (for integration tests, for building and plugin manifest automation, ... etc). IMO all 3rd party ES plugins will

[2021-05-05 19:50] lukas-vlcek commented on #308
BTW, as for OpenSearch there is relevant discussion about plugin development and release versioning and cadence: https://github.com/opensearch-project/OpenSearch/issues/95

[2021-05-11 22:25] jamshid commented on #295
FWIW I also get it on Elasticsearch 7.5.2:
[code]

[2021-05-12 08:04] lukas-vlcek commented on #295
@jamshid Did you change the `prometheus.indices` settings in any way? Right now it is `true` by default, have you changed that to `false`?

[2021-05-13 23:20] jamshid commented on #295
Sure, thanks:
[code]
FWIW it doesn't happen all the time, sometimes 5 times in a half hour, sometimes twice within a minute.

[2021-05-14 08:48] lukas-vlcek opened #309 "GitLab is not longer used, update README.md"
The part of https://github.com/vvanholl/elasticsearch-prometheus-exporter#testing mentioning GitLab needs update.

[2021-05-29 15:26] vvanholl commented on #309
This has been fixed in https://github.com/vvanholl/elasticsearch-prometheus-exporter/commit/b37f97e03f8f2cf4c31e5292effcc25ba4934e01 commit

[2021-05-29 15:26] #309 closed

[2021-06-09 22:09] TheRealDwright opened #310 "Support delayed_unassigned metric"
Currently this project is labelling unassigned and delayed_unassigned metrics in the same way. I propose that these are labelled uniquely and independently.

[2021-06-17 06:26] itskannanraj opened #313 "unable to disable indices metrics"
I tried disabling the index metrics as described by sending a PUT request to /_cluster/settings with this payload. elasticsearch version is 7.13.2

{
  "error" : {
    "root_cause" : [
      {
        "type" : "illegal_argument_exception",
        "reason" : "transient setting [prometheus.indices], not recognized"
      }
    ],
    "type" : "illegal_argument_exception",
    "reason" : "transient

[2021-06-17 06:58] #313 closed

[2021-06-18 12:35] lukas-vlcek commented on #313
FYI, there is an integration test to verify this call works:
https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/ff86a4404fb6fb33da54ecc52911ec9e041dffc3/src/test/resources/rest-api-spec/test/resthandler/20_11_index_level_metrics_disabled.yml#L58

Tests must pass before every release. I did not check your example but was it typo or something like that?

[2021-06-29 00:53] TheRealDwright commented on #299
I've submitted a PR with a dashboard I put together that uses this projects cluster metrics. This would have saved me a lot of time so I hope that it saves some time for somebody else!

[2021-07-13 07:51] rafis commented on #295
What `scrape_interval` do you use?

[2021-08-20 13:30] rursprung commented on #308
turns out that this is what has happened, there's now a fork by @aparo of your plugin to support OpenSearch: https://github.com/aparo/opensearch-prometheus-exporter

[2021-08-31 17:02] hvulin opened #319 "problem with HA prometheus and promscale"
If you are using prometheus with labels cluster and __replica__ as required for data deduplication using promscale with --highavailability this exporter overwrites the system label for cluster and suddenly you have duplicate data in the timescaledb because more than 1 node is labeled as master in ha_lease table... (which then breaks graphs in grafana)... Could you use some othen label from elastic

[2021-09-07 12:59] Kuckkuck opened #320 "es_threadpool_tasks_number is always empty"
The metric es_threadpool_tasks_number is always empty on all nodes. Any idea, what has to be activated to enable this metric? It's always 0 on data, master and client nodes.

I am using Elastic: 7.9.2. with the 7.9.2.0 elastic prometheus exporter plugin.

[2021-09-08 05:13] jacmath opened #321 "Is it possible to add capability to collect metrics from selected indices"
Hi,
Currently there is only an option to disable the metric collection for indices as a whole using the setting prometheus.indices: false. Is it possible to add support to collect metrics only for a limited set of indices?

Once the number of indices grow above 50 or so, we are seeing metrics collection is taking long resulting in gaps in the metrics scraped by Prometheus. In such cases, it would

[2021-09-13 12:53] yashumitsu commented on #320
It seems it shows only queued tasks in threadpool:

* https://github.com/vvanholl/elasticsearch-prometheus-exporter/blob/7.14.1.0/src/main/java/org/compuscene/metrics/prometheus/PrometheusMetricsCollector.java#L621

To see currently running threads, we use query: `es_threadpool_threads_number{type="active"}`.

[2021-09-15 09:45] lukas-vlcek commented on #321
Hello Jacob,

this is actually very good point. Right now it is only possible to enable or disable indices metrics. But as you point out this is far from ideal. Actually, prometheus can have problems (label explosion) when number of indices grow beyond certain level as well.

How would you like to specify which indices the metrics should be collected from?

[2021-09-21 08:06] jacmath commented on #321
Hi Lukas,
Thanks for looking into this request.
Is it possible to supply the list of indices for which metrics need to be collected as a string with comma-separated list of index names (possibly with wildcards).
For example,
"logstash*,events*,.kibana_1"

Regards
Jacob Mathews

[2021-09-21 08:12] lukas-vlcek commented on #321
Hi Jacob,
this means we will need to introduce a new configuration field into elasticsearch.yml that will hold this string (or an array that will be turned into this string). I can imagine this could work. I can even imagine we can make this field dynamically updatable so that users will have the option to change the list of indices on the fly.
WDYT?
Lukáš

[2021-09-21 08:44] jacmath commented on #321
Yes, this looks like a very good proposal.

[2021-10-14 09:21] Flixi555 opened #323 "[req] Release for 7.14.2"
Hi all,

if it's not too much to ask for, could you please release a version for 7.14.2?

Thank you for your consideration

[2021-10-18 05:05] rursprung opened #324 "documentation for usage in combination with security plugins"
there are various security plugins available for elasticsearch (x-pack, SearchGuard and OpenDistro being the most well known).
is there any documentation on how to use elasticsearch-prometheus-exporter in combination with them?

i see two aspects to this:
* this plugin does REST calls to elasticsearch, so if security is enabled there it needs to be able to
  * provide authentication
  * validate &

[2021-11-05 02:31] washingon opened #325 "Exception in thread "main" java.lang.IllegalArgumentException: Unknown properties in plugin descriptor: [type]"
ran sudo ./bin/elasticsearch-plugin install -b https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/7.15.1.0/prometheus-exporter-7.15.1.0.zip

and get output and error:
-> Installing https://github.com/vvanholl/elasticsearch-prometheus-exporter/releases/download/7.15.1.0/prometheus-exporter-7.15.1.0.zip
-> Downloading https://github.com/vvanholl/elasticsearch-prometheus-

[2021-11-10 10:07] Mohitj252 commented on #295
I am also facing the same issue, I was going through the code there I found that idx.getDocs() can return null (based on the code observation), so getCount() on that can cause nullpointerexception. Please help me how can I fix this issue. FYI this issue is coming intermittently.
![image](https://user-images.githubusercontent.com/20572160/141093234-8a75b9b0-7c73-49c4-8991-b394779d9074.png)

[2021-11-10 14:51] lukas-vlcek commented on #295
@Mohitj252 Interesting. Quick workaround would be to wrap the entire line (no. 468) with something like the following:
[code]
However, that would result in missing metric in Prometheus sample in case of exception.
Better would be checking how call to `getCount()` is handled in Elasticsearch AL2 code.

[2021-11-11 04:59] Mohitj252 commented on #295
Hi @lukas-vlcek , adding try catch will solve our problem, better we can focus on handling condition for getDocs, if getDocs is null then we create new object (Just an idea) and pass all the required info to the new created object. what is your opinion on this approach ? Thanks in advance.

[2021-11-11 06:09] lukas-vlcek commented on #295
Oh sorry, I was misreading what you said. In that case I think it makes sense to do something like
[code]
Why the `getDocs()` can be null is another topic. I can not tell from the top of my head if it can be "fixed" directly in Elasticsearch without knowing the reason behind.

[2021-11-26 06:13] Mohitj252 commented on #295
Hi @lukas-vlcek , can you please check and discuss the issue with elastic team to understand why the issue is coming intermittently and how can I overcome from this null pointer exception.

[2021-12-14 08:25] pajats opened #328 "Upgrade plugin regarding of CVE-2021-44228"
Can't  upgrade Elasticsearch to 7.16.1 as recommended by https://discuss.elastic.co/t/apache-log4j2-remote-code-execution-rce-vulnerability-cve-2021-44228-esa-2021-31/291476, if this plugin is installed. Please upgrade the plugin.

[2021-12-14 08:58] pajats commented on #328
Plugin upgraded

[2021-12-14 08:58] #328 closed

[2021-12-21 14:20] privatwolke opened #330 "Create release for 6.8.22"
Hello,

I've seen that a release for 6.8.21 has been created. Can we please have the same for 6.8.22 for us poor souls stuck with an ancient ES version?

Thank you 🙏

[2021-12-21 14:42] Eanveden opened #331 "Version bump to v7.16.2"
https://www.elastic.co/guide/en/elasticsearch/reference/current/release-notes-7.16.2.html

Need version bump in order build custom Elasticsearch image

Edit:
Open PR: https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/329
Created a fork with a new release in case anyone needs asap
https://github.com/Eanveden/elasticsearch-prometheus-exporter

[2021-12-21 14:44] jeroenhartgers commented on #331
https://github.com/vvanholl/elasticsearch-prometheus-exporter/pull/329

[2021-12-27 10:34] QwQNightmare opened #333 "es-cluster X-pack is enabled,but prmetheus need authentication"
I open the es-cluster X-pack,but my prometheus can't get metric from http://xxxxx:9200/_prometheus/metrics,need authentication.What do I need to configure？

[2021-12-28 18:16] #331 closed

[2021-12-29 09:20] ebuildy commented on #333
Can you use the ``elastic`` user account?

[2021-12-29 09:24] ebuildy commented on #303
Not sure, but can you try using super user ``elastic`` ?

Or maybe, by adding (see https://www.elastic.co/guide/en/elasticsearch/reference/current/security-privileges.html) ``monitor`` role to ``anonymous`` user.

[2022-01-28 09:18] agabriel777 commented on #303
facing the same issue with 6.8.0. has anybody found a workaround to this? thank you

[2022-01-31 13:19] domcar opened #335 "Twice similar jobs with eck operator"
Hi everyone,

i recently installed a ES Cluster using the eck operator and then install the prometheus exporter to get metrics. Everything works without problems, only I get the same result twice:
For example, if I query prometheus with: `es_os_mem_used_bytes`
I get :
[code]

where the only difference is the `job name`.
The names seems to be the same as the services exposed by the cluster.

Anyone

[2022-02-02 19:06] alexblue46 opened #337 "prometheus-exporter requires Java 16 Error"
When installing elasticsearch-prometheus-exporter version 7.16.3.0, I get this error: `java.lang.IllegalStateException: prometheus-exporter requires Java 16:, your system: 8`. Is it possible that this prometheus exporter may be made available for use with either Java 8 or 11?

[2022-02-04 06:34] ILunie commented on #337
+1 just realized I'm using the same version of java

[2022-02-16 07:48] ReyanshKharga opened #338 "Compatibility issue with elasticsearch version 8.0.0"
It's basically a feature request. Need this plugin to work with elasticsearch version 8.0.0.

[2022-02-18 13:33] ILunie commented on #337
I fix the issue by changing the java_home before running the installation

[2022-02-22 01:40] glyslxq commented on #333
Prometheus does not support the specified request method. The default is GET
elasticsearch need POST

error: server returned HTTP status 405 Method Not Allowed

[2022-02-22 20:09] alexblue46 commented on #337
@ILunie Were you able to install it with Java 8 or 11?

[2022-02-24 10:05] #323 closed

[2022-02-24 10:50] adambro commented on #337
@alexblue46 we've used the Java 16 embedded in ES7 install. That's what @ILunie means by changing `JAVA_HOME` value, to point at the JVM shipped with ES7.

[2022-03-06 08:50] mindw commented on #335
@domcar The above suggests you have two services for the pod and both are scraped for metrics.

[2022-03-09 08:41] domcar commented on #335
Yes, I have two services, but they were deployed automatically with the elastic search operator, not sure if I can simply remove one

[2022-03-09 09:43] mindw commented on #335
just one of the scraping configs needs to be removed. How does the prometheus scraping of the service configured?

[2022-03-09 11:00] domcar commented on #335
I have a serviceMonitor with a labelsSelector, but unfortunately the two services coming from the eck-operator have the same labels :( So I can change them manually and it's fine, but I can't find how I can modify them using the operator

[2022-03-09 11:01] domcar commented on #335
Maybe this is more an issue on the operator side and not here, unless you used it too and know how to handle this

[2022-03-30 12:53] grzegdl commented on #338
Hi, is there any progress on that?

[2022-03-30 18:41] mindw commented on #338
@ReyanshKharga , @grzegdl I have a (hopefully temporary) fork with v8.x build available. Perhaps it can be of help?

[2022-03-30 18:46] mindw commented on #337
ES 8.x.x requires JVM 17 - https://github.com/elastic/elasticsearch/pull/79873 .  The CI builds it with 16 - to build with something else one needs to build it locally.

[2022-04-12 06:53] kishoresaha-gain commented on #204
Just an info. Looks like one extra permission is needed now "cluster:monitor/nodes/info"

`# Allows prometheus users to get the metrics
prometheus:
  reserved: false
  cluster_permissions:
    - "cluster:monitor/health"
    - "cluster:monitor/nodes/stats"
    - "cluster:monitor/state"
    - "cluster:monitor/nodes/info"
    - "cluster:monitor/prometheus/metrics"
  index_permissions:
    - index_pat

[2022-05-12 07:02] doubleknd26 commented on #287
I also have same issue with ES v7.15.1, which use jdk 17. Is there anyone who solved this issue?

[2022-05-12 10:38] therus000 opened #344 "ServiceMonitor for elastic-cluster deployed by elastic-operator"
Good day
i already installed prometheus exporter plugin while deploy and elastic with operator.
now i stuck on how deploy a servicemonitor to export target to prometheus

` apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
name: elastic-cluster
#namespace: monitoring
spec:
endpoints:

interval: 20s
path: "/_prometheus/metrics"
port: https
scheme: https
tlsConfig:
insecureSkipVeri

[2022-07-05 14:10] cello86 commented on #260
+1

[2022-08-30 06:02] jacmath commented on #321
Hi Lukas,
Any chance of getting this capability added to the exporter?
Thanks
Jacob Mathews

[2022-09-05 21:58] psychonaut opened #348 "Example grafana dashboard"
Not really an issue but could someone share their Grafana dashboard as an example?

[2022-10-04 19:49] runderwo commented on #204
I found that several more index permissions were required (terraform format follows):
`privileges: [ 'indices:admin/aliases/get', 'indices:admin/mappings/get', 'indices:monitor/stats', 'indices:data/read/search' ]`

Also, don't call your custom role `monitoring_user` or you may inadvertently (and silently!) overload a built-in anonymous role causing a big headache.

[2022-10-25 09:50] psychonaut opened #349 "Elasticsearch 7.17.7 version released"
https://www.elastic.co/guide/en/elasticsearch/reference/7.17/release-notes-7.17.7.html

Release the plugin for this version, please.

[2022-10-29 08:30] gdubicki commented on #349
Seems to be fixed by https://github.com/vvanholl/elasticsearch-prometheus-exporter/commit/e8b822b2cfdd93789889c89809d4ac1f5080a7aa.

[2022-10-31 10:04] #349 closed

[2022-10-31 10:05] psychonaut commented on #349
Version up to date.

[2022-11-17 07:01] tianshuang commented on #287
@dobegor Is the JVM running in a docker container? Might be related to this bug: [JDK-8265836](https://bugs.openjdk.org/browse/JDK-8265836).

[2022-11-17 10:56] dobegor commented on #287
@tianshuang yes it was running in a docker container (using ECK operator). I'm no longer maintaining the setup so I can neither confirm or deny if upgrading JDK fixes the issue.

[2022-11-17 11:00] tianshuang commented on #287
I had a similar problem and it was fixed after upgrading JDK minor version to fix version.